RewriteEngine on
RewriteRule ^company/$ /about/ [L,R=301]
RewriteRule ^company/affiliate/$ /about/ [L,R=301]
RewriteRule ^company/profile/$ /history/ [L,R=301]
RewriteRule ^philosophy/message/$ /about/#message [NE,L,R=301]
RewriteRule ^philosophy/vision/$ /philosophy/ [NE,L,R=301]
RewriteRule ^portfolios/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/toranomon-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/birth-toranomon/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/ginza-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/mitaka-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/nishishinjuku-tagkagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/fuchu-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/kayabacho-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/azabu-juban-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/musashisakai-daiichi-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^portfolio/musashisakai-daini-takagi/$ /portfolio/ [L,R=301]
RewriteRule ^inquiry/$ /inquery/ [L,R=301]
RewriteRule ^privacypolicy/$ /privacy-policy/ [L,R=301]
RewriteRule ^flow/$ / [L,R=301]
RewriteRule ^all-voice/$ / [L,R=301]
RewriteRule ^voice/japan-reit/$ / [L,R=301]
RewriteRule ^voice/プロジェクトカンパニー-代表取締役社長-土井-悠/$ / [L,R=301]

<Files wp-login.php>
  AuthType Basic
  AuthName "Restricted"
  AuthUserFile /var/www/t-bldg.jp/htdocs/.htpasswd
  Require valid-user
</Files>



# wp-config.phpと.htaccessとerror_log、php.iniと.htpasswdをアクセス拒否
<FilesMatch "^.*(error_log|wp-config\.php|php.ini|\.[hH][tT][aApP].*)$">
Order deny,allow
Deny from all
</FilesMatch>

# wp-mail.phpとinstall.phpとxmlrpc.phpをアクセス拒否
<FilesMatch "^(wp-mail\.php|install\.php|xmlrpc\.php)">
Order allow,deny
Deny from all
</FilesMatch>

# wp-includesをアクセス拒否
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

# ディレクトリ一覧の非表示
Options -Indexes

# フォームから不正なscriptタグを入力しても実行処理しない
Options +FollowSymLinks
RewriteEngine On
# <script> タグ
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
# PHP グローバルに関連するもの
RewriteCond %{QUERY_STRING} GLOBALS(=|[|%[0-9A-Z]{0,2}) [OR]
# _REQUEST を変更しようとするもの
RewriteCond %{QUERY_STRING} _REQUEST(=|[|%[0-9A-Z]{0,2})
#マッチしたURLへのアクセスを禁止("403 Forbidden"のレスポンスを返す）
RewriteRule ^(.*)$ index.php [F,L]



<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^www\.t-bldg\.jp$ [NC]
  RewriteRule .* https://t-bldg.jp/$1 [R=301,L]
  RewriteCond %{HTTPS} off
  RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# BEGIN WordPress
# "BEGIN WordPress" から "END WordPress" までのディレクティブ (行) は
# 動的に生成され、WordPress フィルターによってのみ修正が可能です。
# これらのマーカー間にあるディレクティブへのいかなる変更も上書きされてしまいます。
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
