<div class="content content2">
  <div class="content-wrapper flex justify-between flex-wrap mx-auto sm:block">
    <div class="content-image fade-in sm:mx-auto">
      <div class="image flex items-center justify-center relative">
      </div>
      <p class="name bold text-center">SLB CAFE</p>
    </div>
    <div class="content-body fade-in">
      <header class="content-header flex items-center title-header sm:flex-wrap sm:justify-center">
        <p class="bg-orange bold sm:inline-block">営業時間</p>
        <div class="content-header-text flex sm:justify-center">
          <p class="helvetica bold">
            <span>CAFE</span><br/>
            <span>BAR</span>
          </p>
          <p class="helvetica bold">
            <span>7:30-17:00</span><br/>
            <span>17:00-23:00（L.O 22:30）</span>
          </p>
        </div>
      </header>
      <p class="content-text">身体に優しいお粥で一日の始まりを優しく彩るカフェ「SLB CAFE」。日本人の主食である「お米」をテーマに、お粥のほか、米粉を使ったスイーツやドリンクなどもご提案。夕暮れ時にはバータイムとして、併設「ORGANIC&CO.」の埼玉のクラフトビール、COEDOのビアタップをお楽しみいただけます。
</p>
    </div>
  </div>
  <div class="swipers mx-auto relative fade-in">
      <div class="swiper-button-prev items-center justify-center flex sm:!hidden">
        <%- include('./svg/_arrow') %>
      </div>
      <div class="swiper-button-next flex items-center justify-center flex sm:!hidden">
        <%- include('./svg/_arrow') %>
      </div>
      <div class="swiper-container relative mx-auto fade-in w-full overflow-hidden marquee-sp" data-swiper="true" data-swiperPc="true" data-initialslide="0" data-center="true" data-centerPc="true" data-loop="true" data-space="20" data-spacePc="20" data-slides="1.5"  data-slidesPc="3" data-speed="1000" data-autoplay="false" data-navigation="false" data-navigationPc="true" data-scrollbar="false" data-scrollbarPc="false" data-reverse="false" data-pagination="false" data-paginationPc="false">	
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="item">
              <div class="item-image">
                <img src="./assets/img/shop1.png" alt="">
              </div>
              <p class="item-name text-center">
                商品名商品名商品名商品名商品名<br/>
                ¥0,000
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="item">
              <div class="item-image">
                <img src="./assets/img/shop2.png" alt="">
              </div>
              <p class="item-name text-center">
                商品名商品名商品名商品名商品名<br/>
                ¥0,000
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="item">
              <div class="item-image">
                <img src="./assets/img/shop3.png" alt="">
              </div>
              <p class="item-name text-center">
                商品名商品名商品名商品名商品名<br/>
                ¥0,000
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrapper mx-auto">
      <div class="text-center fade-in">
        <a href="https://www.lumine.ne.jp/omiya/feature/?cd=000207" target="_blank" rel="noopener" class="button icon-bottom inline-flex justify-center items-center relative bg-green long">
          <span class="button-text bold text-white">SLB THE DINING/<br class="hidden sm:block" />SLB CAFEのこだわり</span>
          <%- include('./svg/_link') %>
        </a>
      </div>
    </div>
  </div>