<div class="content content1 addactive relative">
  <div class="content-wrapper flex justify-between items-center flex-wrap mx-auto sm:block">
    <div class="content-image fade-in sm:mx-auto">
      <div class="image flex items-center justify-center relative">
        <img src="./assets/img/logo1_dining.png" alt="SLB THE DINING">
      </div>
      <p class="name bold text-center">SLB THE DINING</p>
    </div>
    <div class="content-body fade-in">
      <header class="content-header flex items-center title-header sm:flex-wrap sm:justify-center">
        <p class="bg-orange bold sm:inline-block">営業時間</p>
        <div class="content-header-text flex sm:justify-center">
          <p class="helvetica bold">
            <span>LUNCH</span><br/>
            <span>DINNER</span>
          </p>
          <p class="helvetica bold">
            <span>11:00-15:30（L.O. 15:00）</span><br/>
            <span>17:00-23:00（L.O. 22:00）</span>
          </p>
        </div>
      </header>
      <p class="content-text">大宮市場から仕入れたお魚や、埼玉県産の食材を使用。健康に必要な栄養素をバランスよく摂取できる理想的な献立「一汁三菜」を、和と洋の両方の魅力を味わえる、現代的でカジュアルなスタイルに再構築したコース料理で心も身体も満たされた時間を過ごせるレストラン「SLB THE DINING」</p>
    </div>
  </div>
    <div class="swipers mx-auto relative fade-in">
      <div class="swiper-button-prev items-center justify-center flex !hidden sm:!hidden">
        <%- include('./svg/_arrow') %>
      </div>
      <div class="swiper-button-next flex items-center justify-center flex !hidden sm:!hidden">
        <%- include('./svg/_arrow') %>
      </div>
      <div class="swiper-container relative mx-auto fade-in w-full overflow-hidden marquee-sp" data-swiper="true" data-swiperPc="true" data-initialslide="0" data-center="true" data-centerPc="false" data-loopPc="" data-loop="true" data-space="20" data-spacePc="20" data-slides="1.5"  data-slidesPc="3" data-speed="1000" data-autoplay="false" data-navigation="false" data-navigationPc="true" data-scrollbar="false" data-scrollbarPc="false" data-reverse="false" data-pagination="false" data-paginationPc="false">	
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="item">
              <div class="item-image">
                <img src="./assets/img/1-1.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="item">
              <div class="item-image">
                <img src="./assets/img/1-3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrapper mx-auto">
      <div class="text-center fade-in">
        <a href="https://www.tablecheck.com/shops/slb-the-dining/reserve" target="_blank" rel="noopener" class="button small icon-bottom inline-flex justify-center items-center relative bg-red">
          <span class="button-text bold text-white">ご予約はこちらから</span>
          <%- include('./svg/_link') %>
        </a>
      </div>
      <p class="text-center mt-[20px] text-[12px] fade-in sm:text-[3.7333333333vw]">
        11月13日（木）～19日（水）期間は完全事前予約制
      </p>
    </div>
</div>