<div class="content content3 addactive relative">
  <div class="content-wrapper flex justify-between flex-wrap mx-auto sm:block">
    <div class="content-image fade-in sm:mx-auto">
      <div class="image flex items-center justify-center relative">
        <img src="./assets/img/logo3_organic.png" alt="SLB CAFE">
      </div>
      <p class="name bold text-center">ORGANIC&CO.</p>
    </div>
    <div class="content-body fade-in">
      <header class="content-header flex items-center title-header sm:flex-wrap sm:justify-center">
        <p class="bg-orange bold sm:inline-block">営業時間</p>
        <div class="content-header-text flex sm:justify-center">
          <p class="helvetica bold">
            <span>7:30-23:00</span>
          </p>
        </div>
      </header>
      <p class="content-text">毎日の食卓を豊かにするオーガニック野菜や、こだわりの調味料が揃うオーガニックショップ。ビニール袋や使い捨てカップなどのプラスチック包装を極力しようしない量り売りで販売いたします。
</p>
    </div>
  </div>
  </div>