<div class="content content1 addactive relative">
  <div class="content-wrapper flex justify-between flex-wrap mx-auto sm:block">
    <div class="content-image fade-in sm:mx-auto">
      <div class="image flex items-center justify-center relative">
        <img src="./assets/img/logo1_dining.png" alt="SLB THE DINING">
      </div>
      <p class="name bold text-center">SLB THE DINING</p>
    </div>
    <div class="content-body fade-in">
      <header class="content-header flex items-center title-header sm:flex-wrap sm:justify-center">
        <p class="bg-orange bold sm:inline-block">営業時間</p>
        <div class="content-header-text flex sm:justify-center">
          <p class="helvetica bold">
            <span>LUNCH</span><br/>
            <span>DINNER</span>
          </p>
          <p class="helvetica bold">
            <span>11:00-15:30（L.O. 15:00）</span><br/>
            <span>17:00-23:00（L.O. 22:00）</span>
          </p>
        </div>
      </header>
      <p class="content-text">大宮市場から仕入れたお魚や、埼玉県産の食材を使用。健康に必要な栄養素をバランスよく摂取できる理想的な献立「一汁三菜」を、和と洋の両方の魅力を味わえる、現代的でカジュアルなスタイルに再構築したコース料理で心も身体も満たされた時間を過ごせるレストラン「SLB THE DINING」</p>
    </div>
  </div>
  <div class="content-wrapper mx-auto">
    <div class="content-note mx-auto flex items-center justify-center fade-in sm:block">
      <p class="text-center">
        11月13日（木）～11月19日（水）期間は<br class="hidden sm:block" />ルミネのアプリ「ONE LUMINE」にて完全事前予約制<br/>
        詳細はルミネ大宮HPもしくはONE LUMINEより<br class="hidden sm:block" />ご確認ください。
      </p>
    </div>
  </div>
</div>