<div class="faq">
    <div class="q flex flex-sp align-center">
        <p>
            <%- q %>
        </p>
    </div>
    <!-- <div class="a">
        <div class="a__inner">
            <p>
                <#%- a %>
            </p>
        </div>
    </div> -->
</div>