<footer id="footer" class="section">
    <p>COPYRIGHT© LUMINE CO.,LTD. ALL RIGHTS RESERVED.</p>
</footer>
<div id="to-top">
    <img class="scroll-trigger" data-target="top" src="./assets/img/to-top.svg" alt=""/>
</div>