<header id="header" class="bg-green fixed top-0 left-0 w-full z-10 flex items-center">
    <a href="" class="logo block">
       <img src="./assets/img/lumine.svg" alt="わたしらしくをあたらしく LUMINE"> 
    </a>
</header>