<header id="header">
    <div class="flex flex-sp">
        <p class="lumine">
            <img src="./assets/img/lumine.svg" alt="LUMINE">
        </p>
        <p class="newoman">
            <img src="./assets/img/newoman.svg" alt="NEWoMan">
        </p>
    </div>
</header>