<header id="header">
    <div class="flex flex-sp align-center">
        <p class="lumine">
            <a href="//www.lumine.ne.jp/" target="_blank" rel="noopener" class="hover">
                <img src="./assets/img/lumine.svg" alt="LUMINE">
            </a>
        </p>
        <p class="newoman">
            <a href="//www.newoman.jp/" target="_blank" rel="noopener" class="hover">
                <img src="./assets/img/newoman.svg" alt="NEWoMan">
            </a>
        </p>
    </div>
</header>