<header id="header" class="bg-green fixed top-0 left-0 w-full z-10 flex items-center justify-between">
    <a href="https://www.lumine.ne.jp/omiya/" class="logo block hover" target="_blank" rel="noopener">
       <img src="./assets/img/lumine.svg" alt="わたしらしくをあたらしく LUMINE"> 
    </a>
    <a class="instagram hover" href="https://www.instagram.com/musubulumine/" target="_blank" rel="noopener">
        <img src="./assets/img/instagram.png" alt="Instagram">
    </a>
</header>