<div class=" show addactive">
<div id="<%- id %>" class="qa-faq qa <%- color %>">
    <div class="q">
        <p>
            <%- q %>
        </p>
        <div class="plus-minus">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="a">
        <div class="a__inner">
            <p>
                <%- a %>
            </p>
        </div>
    </div>
</div>
</div>