@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

.reset {
  transition: none !important;
  animation: none !important;
}
.reset * {
  transition: none !important;
  animation: none !important;
}

@media screen and (max-width: 749px) {
  .pc {
    display: none !important;
  }
  .flex-sp {
    display: flex;
  }
  .flex-sp.space-between {
    justify-content: space-between;
  }
  .flex-sp.justify-center {
    justify-content: center;
  }
  .flex-sp.justify-end {
    justify-content: flex-end;
  }
  .flex-sp.align-center {
    align-items: center;
  }
  .flex-sp.align-end {
    align-items: flex-end;
  }
  .flex-sp.flex-wrap {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 10px;
  }
  .sp {
    display: none !important;
  }
  .flex {
    display: flex;
  }
  .flex.space-between {
    justify-content: space-between;
  }
  .flex.justify-center {
    justify-content: center;
  }
  .flex.justify-end {
    justify-content: flex-end;
  }
  .flex.align-center {
    align-items: center;
  }
  .flex.align-end {
    align-items: flex-end;
  }
  .flex.flex-wrap {
    flex-wrap: wrap;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotationReverse {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 102%, 0);
  }
  50.999% {
    opacity: 1;
    transform: translate3d(0, 102%, 0);
  }
  51% {
    opacity: 0;
    transform: translate3d(0, 102%, 0);
  }
  51.999% {
    opacity: 0;
    transform: translate3d(0, -102%, 0);
  }
  52% {
    opacity: 1;
    transform: translate3d(0, -102%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rotationReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotationReverse_ {
  from {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(-360deg);
  }
}
@keyframes ellipse {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(360deg);
  }
}
@keyframes dotScaleDown {
  0% {
    transform: translate3d(-50%, 0, 0) 1;
  }
  100% {
    transform: translate3d(-50%, 0, 0) scale(0);
  }
}
@keyframes dotScale {
  0% {
    transform: translate3d(-50%, 0, 0) 0;
  }
  60% {
    transform: translate3d(-50%, 0, 0) scale(1.4);
  }
  100% {
    transform: translate3d(-50%, 0, 0) scale(1);
  }
}
@keyframes left1 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-10deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-80deg);
  }
}
@keyframes left2 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-20deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-70deg);
  }
}
@keyframes left3 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-30deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-60deg);
  }
}
@keyframes left4 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-40deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-50deg);
  }
}
@keyframes left5 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-50deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-40deg);
  }
}
@keyframes left6 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-60deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-30deg);
  }
}
@keyframes left7 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-70deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-20deg);
  }
}
@keyframes left8 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(-80deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(-10deg);
  }
}
@keyframes right1 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(10deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(80deg);
  }
}
@keyframes right2 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(20deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(70deg);
  }
}
@keyframes right3 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(30deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(60deg);
  }
}
@keyframes right4 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(40deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(50deg);
  }
}
@keyframes right5 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(50deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(40deg);
  }
}
@keyframes right6 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(60deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(30deg);
  }
}
@keyframes right7 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(70deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(20deg);
  }
}
@keyframes right8 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateY(80deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateY(10deg);
  }
}
@keyframes left1Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-10deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(350deg);
  }
}
@keyframes left2Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-20deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(340deg);
  }
}
@keyframes left3Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-30deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(330deg);
  }
}
@keyframes left4Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-40deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(320deg);
  }
}
@keyframes left5Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-50deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(310deg);
  }
}
@keyframes left6Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-60deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(300deg);
  }
}
@keyframes left7Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-70deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(290deg);
  }
}
@keyframes left8Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(-80deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(280deg);
  }
}
@keyframes right1Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(10deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(370deg);
  }
}
@keyframes right2Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(20deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(380deg);
  }
}
@keyframes right3Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(30deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(390deg);
  }
}
@keyframes right4Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(40deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(400deg);
  }
}
@keyframes right5Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(50deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(410deg);
  }
}
@keyframes right6Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(60deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(420deg);
  }
}
@keyframes right7Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(70deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(430deg);
  }
}
@keyframes right8Round {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateY(80deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateY(440deg);
  }
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  font-feature-settings: "palt";
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #000000;
  opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
}
body ::-moz-selection {
  color: #ffffff;
  background-color: #000000;
}
body ::selection {
  color: #ffffff;
  background-color: #000000;
}
body.loaded, body.visited {
  opacity: 1;
}
body .hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.underline {
  color: #221815;
  text-decoration: underline;
}

.whitespace {
  white-space: nowrap;
}

@media screen and (max-width: 749px) {
  #bottom {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 16vw;
    width: 100%;
    background-color: #ffffff;
    border-top: 0.1rem solid #888888;
    z-index: 10;
  }
  #bottom .text {
    font-size: 1.6rem;
    font-size: 4.2666666667vw;
    letter-spacing: 0.1em;
    color: #888888;
    font-weight: bold;
  }
  #bottom svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5.3333333333vw;
  }
  #bottom svg * {
    fill: #888888;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    height: 13.3333333333vw;
    width: 100%;
    padding-left: 4vw;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #221815;
    z-index: 10;
  }
  #header .lumine {
    margin-right: 5.3333333333vw;
    width: 17.9481466667vw;
  }
  #header .newoman {
    width: 23.5475733333vw;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13.3333333333vw;
    background-color: #221815;
  }
  #footer p {
    font-size: 1.1rem;
    font-size: 2.9333333333vw;
    text-align: center;
    color: #ffffff;
  }
  .container {
    background-image: url(./../../assets/img/bg_sp.svg);
    background-size: 100%;
    background-repeat: repeat;
  }
  main {
    padding-top: 13.3333333333vw;
  }
  main .wrapper.gray {
    background-color: #F7F8F8;
  }
  main .wrapper.green {
    background-color: rgba(49, 182, 160, 0.4);
  }
  main .wrapper.blue {
    background-color: rgba(108, 155, 210, 0.4);
  }
  main .bg-title {
    position: relative;
    margin-bottom: 3.3333333333vw;
  }
  main .bg-title.mt {
    margin-top: 3.3333333333vw;
  }
  main .bg-title.mb {
    margin-bottom: 6.6666666667vw;
  }
  main .bg-title .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    text-align: center;
    width: 100%;
    font-size: 1.7rem;
    font-size: 4.5333333333vw;
    line-height: 1.4705882353;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
  }
  main .bg-title .text .big {
    font-size: 2.5rem;
    font-size: 6.6666666667vw;
  }
  main .scene-wrapper {
    margin-top: 6.6666666667vw;
  }
  main .cards {
    margin-top: 7.3333333333vw;
  }
  main .cards .img {
    margin: 0 auto 5.3333333333vw;
    width: 53.3333333333vw;
  }
  main .cards p {
    font-size: 1.4rem;
    font-size: 3.7333333333vw;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
  main .cards p .wrap {
    position: relative;
  }
  main .cards p .wrap::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    content: "";
    height: 2.2644vw;
    width: 100%;
    background-color: #ffffff;
  }
  main .cards p .wrap .text {
    position: relative;
    z-index: 1;
  }
  main .scene {
    background-color: #ffffff;
    margin-bottom: 7.3333333333vw;
  }
  main .scene .normal {
    font-weight: normal !important;
  }
  main .scene .box_ {
    display: block;
    height: 6vw;
    line-height: 5.8666666667vw;
    width: 16vw;
    font-size: 1.2rem;
    font-size: 3.2vw;
    text-align: center;
    margin: 3.3333333333vw auto;
  }
  main .scene .box_.green {
    color: #00833E;
    border: 0.1rem solid #00833E;
  }
  main .scene:last-child {
    margin-bottom: 0;
  }
  main .scene .step {
    margin-bottom: 6.6666666667vw;
  }
  main .scene .step:last-child {
    margin-bottom: 0;
  }
  main .scene .step-title {
    margin-bottom: 3.3333333333vw;
  }
  main .scene .step-title p {
    margin: 0 auto;
    height: 6vw;
    width: 16vw;
    line-height: 5.8666666667vw;
    font-size: 1.7rem;
    font-size: 4.5333333333vw;
    letter-spacing: 0.06em;
    font-weight: bold;
    text-align: center;
    color: #00833E;
    border: 0.1rem solid #00833E;
    font-family: "Advent Pro", sans-serif;
  }
  main .scene .step-text {
    margin-bottom: 2.6666666667vw;
    font-size: 1.5rem;
    font-size: 4vw;
    letter-spacing: 0.05em;
    line-height: 1.3333333333;
    font-weight: bold;
    text-align: center;
  }
  main .scene .step-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vw;
    width: 100%;
    border-radius: 2.6666666667vw;
    background-color: #31B6A0;
  }
  main .scene .step-btn.navy {
    background-color: #6C9BD2;
  }
  main .scene .step-btn span {
    font-size: 1.6rem;
    font-size: 4.2666666667vw;
    letter-spacing: 0.1em;
    line-height: 1.3125;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  main .scene .step-btn::after {
    position: absolute;
    top: 50%;
    right: 3.3333333333vw;
    transform: translate3d(0, -50%, 0);
    content: url(./../.../../../assets/img/arrow.svg);
    height: 5.3333333333vw;
    width: 2.6666666667vw;
  }
  main .scene .text {
    font-weight: bold;
    font-size: 1.2rem;
    font-size: 3.2vw;
    line-height: 2;
  }
  main .scene .text .big {
    font-size: 1.5rem;
    font-size: 4vw;
  }
  main .scene .text .big.black {
    color: #221815 !important;
  }
  main .scene .text .small {
    font-weight: normal;
    font-size: 1.1rem;
    font-size: 2.9333333333vw;
    line-height: 1.6363636364;
  }
  main .scene .text .small.kome {
    display: flex;
  }
  main .scene .text .small.kome::before {
    content: "※";
  }
  main .scene .illust {
    position: relative;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  main .scene.scene1 .illust {
    margin-top: -4vw;
    width: 74.8422533333vw;
  }
  main .scene.scene1 .scene-content .text-wrapper .text {
    text-align: center;
  }
  main .scene.scene1 .scene-content .text-wrapper .text:last-child::after {
    opacity: 0;
  }
  main .scene.scene1 .scene-content .text-wrapper .text::after {
    margin: 2.6666666667vw auto;
    display: block;
    content: url(./../.../../../assets/img/tri-green.svg);
    height: 2vw;
    width: 4vw;
    line-height: 0;
  }
  main .scene.scene1 .scene-content .text-wrapper .text .big {
    color: #00833E;
  }
  main .scene.scene2 .illust {
    margin-top: 1.3333333333vw;
    width: 80.1410933333vw;
  }
  main .scene.scene2 .scene-content {
    text-align: center;
  }
  main .scene.scene2 .scene-content .big-title.full {
    margin-bottom: 2.6666666667vw;
  }
  main .scene.scene2 .scene-content .text-wrapper {
    display: inline-block;
  }
  main .scene.scene2 .scene-content .text-wrapper .text {
    text-align: center;
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    font-size: 3.7333333333vw;
    letter-spacing: 0.04em;
    white-space: nowrap;
    width: 41vw;
    font-weight: bold;
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(1)::after {
    position: relative;
    margin: 0 3.3333333333vw;
    display: block;
    content: url(./../.../../../assets/img/tri-green.svg);
    height: 2vw;
    width: 4vw;
    line-height: 0;
    transform: rotate(-90deg);
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(2) {
    font-size: 1.6rem;
    font-size: 4.2666666667vw;
    letter-spacing: 0.04em;
    font-weight: bold;
    color: #00833E;
  }
  main .scene.scene2 .scene-content .text-wrapper .text .big {
    color: #00833E;
  }
  main .scene.scene2 .scene-content .hikikae-title {
    padding: 4.6666666667vw 0 4vw;
    font-size: 1.9rem;
    font-size: 5.0666666667vw;
    font-weight: bold;
    color: #00833E;
    text-align: center;
  }
  main .scene.scene2 .scene-content .hikikae-title p {
    padding: 0 2.6666666667vw;
  }
  main .scene.scene2 .scene-content .hikikae-title .bar {
    display: block;
    height: 0.1rem;
    flex-grow: 1;
    background-color: #221815;
  }
  main .scene.scene2 .scene-content .step-wrapper {
    padding-bottom: 6.6666666667vw;
    margin-bottom: 6.6666666667vw;
    border-bottom: 0.1rem solid #221815;
  }
  main .scene.scene2 .section-text.right {
    text-align: right;
    padding-right: 4vw;
  }
  main .scene.scene3 .illust {
    width: 62.03724vw;
  }
  main .scene.scene3 .scene-content {
    text-align: center;
  }
  main .scene.scene3 .scene-content .big-title.mt {
    margin-top: 8vw;
  }
  main .scene.scene3 .scene-content .text-wrapper {
    display: inline-block;
  }
  main .scene.scene3 .scene-content .text-wrapper .text {
    font-size: 1.4rem;
    font-size: 3.7333333333vw;
  }
  main .scene.scene3 .scene-content .text-wrapper .text.arrow::after {
    position: relative;
    margin: 2.6666666667vw auto;
    display: block;
    content: url(./../.../../../assets/img/tri-blue.svg);
    height: 2vw;
    width: 4vw;
    line-height: 0;
  }
  main .scene.scene3 .scene-content .text-wrapper .big {
    color: #1D65BA;
  }
  main .scene.scene3 .scene-content .text .kome {
    text-align: left;
  }
  main .scene.scene3 .scene-content .text .kome:first-child {
    margin-top: 4vw;
  }
  main .scene.scene3 .scene-content .step-wrapper {
    margin-top: 6.6666666667vw;
  }
  main .scene.scene3 .scene-content .hikikae-title {
    padding: 4.6666666667vw 0 4vw;
    font-size: 1.9rem;
    font-size: 5.0666666667vw;
    font-weight: bold;
    color: #00833E;
    text-align: center;
  }
  main .scene.scene3 .scene-content .hikikae-title p {
    padding: 0 2.6666666667vw;
  }
  main .scene.scene3 .scene-content .hikikae-title .bar {
    display: block;
    height: 0.1rem;
    flex-grow: 1;
    background-color: #221815;
  }
  main .scene.navy {
    border: 0.2666666667vw solid #1D65BA;
  }
  main .scene.navy .scene-title {
    color: #1D65BA;
    border-bottom: 0.2666666667vw solid #1D65BA;
  }
  main .scene.navy .scene-content .line {
    background-color: rgba(108, 155, 210, 0.3);
  }
  main .scene.blue {
    border: 0.2666666667vw solid #0090D5;
  }
  main .scene.blue .scene-title {
    color: #0090D5;
    border-bottom: 0.2666666667vw solid #0090D5;
  }
  main .scene.blue .scene-content .line {
    background-color: #6C9BD2;
  }
  main .scene.green {
    border: 0.2666666667vw solid #00833E;
  }
  main .scene.green .scene-title {
    color: #00833E;
    border-bottom: 0.2666666667vw solid #00833E;
  }
  main .scene.green .scene-content .line {
    background-color: rgba(49, 182, 160, 0.3);
  }
  main .scene-title {
    padding: 5.3333333333vw;
  }
  main .scene-title picture {
    margin-right: 4vw;
  }
  main .scene-title picture img {
    height: 12.11524vw;
    width: auto;
    max-width: initial;
  }
  main .scene-title p {
    font-size: 1.9rem;
    font-size: 5.0666666667vw;
    letter-spacing: 0.08em;
    line-height: 1.5;
    font-weight: bold;
    white-space: nowrap;
  }
  main .scene .example {
    margin-bottom: 3.3333333333vw;
  }
  main .scene .example .bar {
    display: block;
    height: 0.1rem;
    flex-grow: 1;
    background-color: #221815;
  }
  main .scene .example p {
    padding: 0 2vw;
    font-size: 1.5rem;
    font-size: 4vw;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
  }
  main .scene-content {
    padding: 6.6666666667vw 5.3333333333vw;
  }
  main .scene-content .big-title {
    margin-bottom: 6vw;
    text-align: center;
  }
  main .scene-content .big-title span.wrap {
    position: relative;
    display: inline-block;
    white-space: nowrap;
  }
  main .scene-content .big-title span.text {
    position: relative;
    font-size: 1.9rem;
    font-size: 5.0666666667vw;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: bold;
    z-index: 1;
  }
  main .scene-content .big-title span.text .md {
    font-size: 1.4rem;
    font-size: 3.7333333333vw;
  }
  main .scene-content .big-title span.line {
    position: absolute;
    height: 2vw;
    left: 50%;
    bottom: 0.9333333333vw;
    width: 100%;
    transform: translate3d(-50%, 0, 0);
  }
  main .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vw;
    width: 26.6666666667vw;
    background-color: #ffffff;
    text-align: center;
  }
  main .btn svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5.3333333333vw;
  }
  main .btn.blue {
    border: 0.2666666667vw solid #0090D5;
    color: #0090D5;
  }
  main .btn.blue svg * {
    fill: #0090D5;
  }
  main .btn.green {
    border: 0.2666666667vw solid #00833E;
    color: #00833E;
  }
  main .btn.green svg * {
    fill: #00833E;
  }
  main .btn.black {
    border: 0.2666666667vw solid #221815;
    color: #221815;
  }
  main .btn.black svg * {
    fill: #221815;
  }
  main .btn .text {
    font-size: 1.6rem;
    font-size: 4.2666666667vw;
    line-height: 1.3125;
    font-weight: bold;
  }
  main .qa {
    margin-bottom: 3.3333333333vw;
    overflow: hidden;
  }
  main .qa:last-child {
    margin-bottom: 0;
  }
  main .qa.light-green .q {
    background-color: #31B6A0;
  }
  main .qa.light-green .a {
    border: 0.1rem solid #31B6A0;
  }
  main .qa.light-green .a::before {
    color: #00833E;
  }
  main .qa.light-blue .q {
    background-color: #6C9BD2;
  }
  main .qa.light-blue .a {
    border: 0.1rem solid #6C9BD2;
  }
  main .qa.light-blue .a::before {
    color: #0090D5;
  }
  main .qa.light-gray .q {
    background-color: #888888;
  }
  main .qa.light-gray .a {
    border: 0.1rem solid #888888;
  }
  main .qa.light-gray .a::before {
    color: #221815;
  }
  main .qa.active .q .plus-minus {
    transform: translate3d(0, -50%, 0) rotate(90deg);
  }
  main .qa.active .q .plus-minus span:nth-child(1) {
    opacity: 0;
  }
  main .qa:last-child {
    border-bottom: none;
  }
  main .qa .overflow {
    margin: 2.6666666667vw 0;
    overflow: scroll;
  }
  main .qa .overflow img {
    height: 133.3333333333vw;
    max-width: initial;
    width: auto;
  }
  main .qa .icon {
    position: relative;
    top: 0.6666666667vw;
    margin: 0 0.6666666667vw;
    display: inline-block;
  }
  main .qa .icon img {
    height: 5.3333333333vw;
    max-width: initial;
    width: auto;
  }
  main .qa .card {
    margin-bottom: 2.6666666667vw;
  }
  main .qa .card img {
    height: 12vw;
    max-width: initial;
    width: auto;
  }
  main .qa .q, main .qa .a {
    font-size: 1.2rem;
    font-size: 3.2vw;
    line-height: 1.3333333333;
    font-weight: bold;
  }
  main .qa .q {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10.6666666667vw;
    padding-right: 12vw;
    width: 100%;
    height: 16vw;
    color: #ffffff;
    box-sizing: border-box;
  }
  main .qa .q::before {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    content: "Q";
    left: 4vw;
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    font-size: 8vw;
    color: #ffffff;
  }
  main .qa .q .plus-minus {
    position: absolute;
    top: 50%;
    right: 3.3333333333vw;
    height: 5.3333333333vw;
    width: 5.3333333333vw;
    transform: translate3d(0, -50%, 0);
    transition: transform 0.5s ease;
  }
  main .qa .q .plus-minus span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    height: 0.1rem;
    width: 5.3333333333vw;
    background-color: #ffffff;
    transition: opacity 0.5s ease;
  }
  main .qa .q .plus-minus span:nth-child(2) {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
  }
  main .qa .a {
    position: relative;
    height: 0;
    font-weight: normal;
    transition: height 0.5s ease;
  }
  main .qa .a::before {
    position: absolute;
    top: 2vw;
    content: "A";
    left: 4vw;
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    font-size: 8vw;
  }
  main .qa .a__inner {
    padding: 3.3333333333vw 3.3333333333vw 3.3333333333vw 10.6666666667vw;
  }
  main .faq {
    overflow: hidden;
    margin-bottom: 6.6666666667vw;
  }
  main .faq:last-child {
    margin-bottom: 0;
  }
  main .faq.active .q::after {
    transform: translate3d(0, -50%, 0) rotate(180deg);
  }
  main .faq:last-child {
    border-bottom: none;
  }
  main .faq .q, main .faq .a {
    font-size: 1.2rem;
    font-size: 3.2vw;
    line-height: 1.3333333333;
    font-weight: bold;
  }
  main .faq .q {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-decoration: underline;
  }
  main .faq .a {
    height: 0;
    transition: height 0.5s ease;
  }
  main .faq .a__inner {
    padding: 3.3333333333vw;
  }
  main .section#top {
    padding: 13.3333333333vw 0 10vw;
  }
  main .section#top h1 {
    margin: 0 auto 8.6666666667vw;
    width: 77.4861333333vw;
  }
  main .section#top .card {
    margin: 0 auto;
    width: 67.25732vw;
  }
  main .section#information {
    padding-bottom: 9.3333333333vw;
  }
  main .section#information .gray {
    padding: 9.3333333333vw 0;
    margin-bottom: 10vw;
  }
  main .section#information .section-text {
    padding-top: 3.3333333333vw;
    border-top: 0.1rem solid #221815;
  }
  main .section#information .section-text picture, main .section#information .section-text img {
    display: inline-block;
    height: 5.3333333333vw;
    width: auto;
  }
  main .section#information .section-text picture {
    position: relative;
    margin-right: 0.4vw;
    top: 1.3333333333vw;
  }
  main .section#information .btn-wrapper .btn {
    margin-right: 4.6666666667vw;
  }
  main .section#information .btn-wrapper .btn:last-child {
    margin-right: 0;
  }
  main .section#use-jre-point .wrapper {
    padding: 8vw 0 10vw;
  }
  main .section#get-jre-point .wrapper {
    padding: 8vw 0 10vw;
  }
  main .section#last {
    padding: 10vw 0 10.6666666667vw;
    background-color: #F3F3F3;
  }
  main .section#last .wrapper {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 89.3333333333vw;
  }
  main .section#last .wrapper .box {
    display: block;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 6.6666666667vw;
  }
  main .section#last .wrapper .box:last-child {
    margin-bottom: 0;
  }
  main .section#last .wrapper .box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10.6666666667vw;
    width: 100%;
    line-height: 10.6666666667vw;
    background-color: #221815;
    font-size: 1.4rem;
    font-size: 3.7333333333vw;
    letter-spacing: 0.04em;
    font-weight: bold;
    color: #ffffff;
  }
  main .section#last .wrapper .box-content {
    padding: 4vw;
    width: 100%;
    box-sizing: border-box;
  }
  main .section#last .wrapper .box-content p {
    font-size: 1.2rem;
    font-size: 3.2vw;
    line-height: 1.75;
  }
  main .section#last .wrapper .box-content p a {
    color: #221815;
  }
  main .section__inner {
    margin: 0 auto;
    width: 86.6666666667vw;
  }
  main .section-text {
    font-size: 1.2rem;
    font-size: 3.2vw;
    line-height: 1.75;
  }
  main .section-text .small {
    font-size: 1.1rem;
    font-size: 2.9333333333vw;
    white-space: nowrap;
  }
  main .section-title {
    margin-bottom: 6.6666666667vw;
    text-align: center;
  }
  main .section-title.blue span.en::before {
    background-color: #0090D5;
  }
  main .section-title.blue span.en {
    color: #0090D5;
  }
  main .section-title.green span.en::before {
    background-color: #00833E;
  }
  main .section-title.green span.en {
    color: #00833E;
  }
  main .section-title.lightGreen span.en::before {
    background-color: #31B6A0;
  }
  main .section-title.lightGreen span.en {
    color: #31B6A0;
  }
  main .section-title span {
    display: block;
  }
  main .section-title .ja {
    font-size: 2.4rem;
    font-size: 6.4vw;
    line-height: 1.4166666667;
    font-weight: bold;
  }
  main .section-title .en {
    font-size: 1.5rem;
    font-size: 4vw;
    font-family: "Advent Pro", sans-serif;
  }
  main .section-title .en::before {
    display: block;
    margin: 2.6666666667vw auto;
    content: "";
    height: 0.2666666667vw;
    width: 6.6666666667vw;
  }
  main .section#faq {
    padding-bottom: 10vw;
  }
  main .section#faq .gray {
    padding: 10vw 0 10vw;
  }
  main .section#faq .faq-title {
    margin-top: 6.6666666667vw;
    margin-bottom: 6.6666666667vw;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
  }
  main .section#faq .faq-title.green .text {
    color: #00833E;
  }
  main .section#faq .faq-title.green .bar {
    background-color: #00833E;
  }
  main .section#faq .faq-title.navy .text {
    color: #1D65BA;
  }
  main .section#faq .faq-title.navy .bar {
    background-color: #1D65BA;
  }
  main .section#faq .faq-title.black .text {
    color: #221815;
  }
  main .section#faq .faq-title.black .bar {
    background-color: #221815;
  }
  main .section#faq .faq-title .text {
    padding: 0 1.6vw;
    font-size: 2.1rem;
    font-size: 5.6vw;
    font-weight: bold;
  }
  main .section#faq .faq-title .bar {
    height: 0.5333333333vw;
    flex-grow: 1;
    background-color: black;
  }
}
@media screen and (min-width: 750px) {
  .hover, .scroll-trigger, .underline {
    transition: opacity 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  .hover:hover, .scroll-trigger:hover, .underline:hover {
    opacity: 0.5;
    will-change: opacity;
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    padding-left: 3rem;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #221815;
    z-index: 10;
  }
  #header .lumine {
    margin-right: 3rem;
    width: 10rem;
  }
  #header .newoman {
    width: 13.2rem;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #221815;
  }
  #footer p {
    font-size: 12px;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
  }
  .container {
    background-image: url(./../../assets/img/bg.svg);
    background-size: 128rem;
    background-repeat: repeat;
  }
  .text-center {
    text-align: center;
  }
  main {
    padding-top: 13.3333333333vw;
    overflow: hidden;
  }
  main .wrapper.gray {
    background-color: #F7F8F8;
  }
  main .wrapper.green {
    background-color: rgba(49, 182, 160, 0.4);
  }
  main .wrapper.blue {
    background-color: rgba(108, 155, 210, 0.4);
  }
  main .bg-title {
    position: relative;
    margin-bottom: 1rem;
  }
  main .bg-title.mt {
    margin-top: 2.5rem;
  }
  main .bg-title.mb {
    margin-bottom: 2.5rem;
  }
  main .bg-title .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
  }
  main .bg-title .text .big {
    font-size: 42px;
    font-size: 4.2rem;
  }
  main .scene-wrapper {
    margin-top: 5rem;
  }
  main .cards {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .cards .img {
    margin-right: 6.5rem;
    width: 31.57294rem;
  }
  main .cards p {
    font-size: 22px;
    font-size: 2.2rem;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.6363636364;
    text-align: center;
  }
  main .cards p .wrap {
    position: relative;
  }
  main .cards p .wrap::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #ffffff;
  }
  main .cards p .wrap .text {
    position: relative;
    z-index: 1;
  }
  main .scene {
    position: relative;
    background-color: #ffffff;
    margin-bottom: 5.5rem;
  }
  main .scene .normal {
    font-weight: normal !important;
  }
  main .scene .box_ {
    display: block;
    height: 3rem;
    line-height: 3rem;
    width: 8rem;
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
  }
  main .scene .box_.mt {
    margin-top: 1rem;
  }
  main .scene .box_.green {
    color: #00833E;
    border: 0.15rem solid #00833E;
  }
  main .scene:last-child {
    margin-bottom: 0;
  }
  main .scene .step {
    margin-bottom: 2.5rem;
  }
  main .scene .step:last-child {
    margin-bottom: 0;
  }
  main .scene .step-title {
    margin-right: 1.5rem;
  }
  main .scene .step-title p {
    height: 4rem;
    width: 8rem;
    line-height: 3.9rem;
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: 0.06em;
    font-weight: bold;
    text-align: center;
    color: #00833E;
    border: 0.1rem solid #00833E;
    font-family: "Advent Pro", sans-serif;
  }
  main .scene .step-text {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    line-height: 1.4444444444;
    font-weight: bold;
    text-align: left;
  }
  main .scene .step-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 30rem;
    border-radius: 1rem;
    background-color: #31B6A0;
  }
  main .scene .step-btn.navy {
    background-color: #6C9BD2;
  }
  main .scene .step-btn span {
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: 1.375;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  main .scene .step-btn::after {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translate3d(0, -50%, 0);
    content: url(./../.../../../assets/img/arrow.svg);
    height: 2.4rem;
    width: 1.2rem;
  }
  main .scene .text {
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2;
  }
  main .scene .text .big {
    font-size: 20px;
    font-size: 2rem;
  }
  main .scene .text .big.black {
    color: #221815 !important;
  }
  main .scene .text .small {
    font-weight: normal;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  main .scene .text .small.kome {
    display: flex;
  }
  main .scene .text .small.kome::before {
    content: "※";
  }
  main .scene .illust {
    position: absolute;
  }
  main .scene.scene1 .illust {
    top: 5rem;
    right: 3rem;
    width: 35.67588rem;
  }
  main .scene.scene1 .scene-content .text-wrapper .text:last-child::after {
    margin-bottom: 0;
    opacity: 0;
  }
  main .scene.scene1 .scene-content .text-wrapper .text::after {
    display: block;
    content: url(./../.../../../assets/img/tri-green.svg);
    height: 1rem;
    width: 2rem;
    line-height: 0;
  }
  main .scene.scene1 .scene-content .text-wrapper .text .big {
    color: #00833E;
  }
  main .scene.scene2 .illust {
    top: -5rem;
    left: 3rem;
    width: 36.37299rem;
  }
  main .scene.scene2 .scene-title {
    justify-content: flex-end;
  }
  main .scene.scene2 .left .text, main .scene.scene2 .right .text {
    line-height: 1.6;
  }
  main .scene.scene2 .scene-content {
    text-align: center;
  }
  main .scene.scene2 .scene-content .big-title, main .scene.scene2 .scene-content .example, main .scene.scene2 .scene-content .text-wrapper {
    margin: 0 0 0 auto;
    width: 56rem;
  }
  main .scene.scene2 .scene-content .example {
    margin: 2rem 0 2rem auto;
  }
  main .scene.scene2 .scene-content .flex .big-title {
    margin: 0 6rem 0 0;
  }
  main .scene.scene2 .scene-content .big-title {
    text-align: left;
  }
  main .scene.scene2 .scene-content .big-title.full {
    text-align: center;
    width: 100%;
  }
  main .scene.scene2 .scene-content .text-wrapper {
    display: flex;
  }
  main .scene.scene2 .scene-content .text-wrapper div.left {
    margin-right: 5rem;
  }
  main .scene.scene2 .scene-content .text-wrapper .text {
    text-align: center;
    white-space: nowrap;
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.04em;
    font-weight: bold;
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(1).zu::after {
    left: 0.9rem;
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(1)::after {
    position: relative;
    margin: 0 1.8rem;
    display: block;
    content: url(./../.../../../assets/img/tri-green.svg);
    width: 1.71428rem;
    line-height: 0;
    transform: rotate(-90deg);
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(2) {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0.04em;
    font-weight: bold;
    color: #00833E;
  }
  main .scene.scene2 .scene-content .text-wrapper .text span:nth-child(2).zu {
    position: relative;
    left: 0.9rem;
  }
  main .scene.scene2 .scene-content .text-wrapper .text .big {
    color: #00833E;
  }
  main .scene.scene2 .scene-content .hikikae-title {
    padding: 3.5rem 0;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #00833E;
    text-align: center;
  }
  main .scene.scene2 .scene-content .hikikae-title p {
    padding: 0 1.7rem;
  }
  main .scene.scene2 .scene-content .hikikae-title .bar {
    display: block;
    height: 0.1rem;
    flex-grow: 1;
    background-color: #221815;
  }
  main .scene.scene2 .scene-content .step-wrapper {
    padding: 0 9.5rem 5rem 9.5rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid #221815;
  }
  main .scene.scene3 .illust {
    top: -6rem;
    right: 3.5rem;
    width: 28.5253rem;
  }
  main .scene.scene3 .scene-content {
    text-align: center;
  }
  main .scene.scene3 .scene-content .big-title, main .scene.scene3 .scene-content .text-wrapper, main .scene.scene3 .scene-content .example {
    width: 56rem;
  }
  main .scene.scene3 .scene-content .big-title {
    text-align: left;
  }
  main .scene.scene3 .scene-content .big-title.mt {
    margin-top: 2.5rem;
  }
  main .scene.scene3 .scene-content .text-wrapper .text {
    text-align: left;
    font-size: 16px;
    font-size: 1.6rem;
  }
  main .scene.scene3 .scene-content .text-wrapper .text.arrow::after {
    margin: 1rem 0 1rem 0;
    display: block;
    content: url(./../.../../../assets/img/tri-blue.svg);
    height: 1rem;
    width: 2rem;
    line-height: 0;
  }
  main .scene.scene3 .scene-content .text-wrapper .big {
    color: #1D65BA;
  }
  main .scene.scene3 .scene-content .text .kome {
    text-align: left;
  }
  main .scene.scene3 .scene-content .step-wrapper {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }
  main .scene.scene3 .scene-content .step-wrapper .step {
    margin-bottom: 2.5rem;
  }
  main .scene.scene3 .scene-content .step-wrapper .step:last-child {
    margin-bottom: 0;
  }
  main .scene.navy {
    border: 0.2rem solid #1D65BA;
  }
  main .scene.navy .scene-title {
    color: #1D65BA;
    border-bottom: 0.2rem solid #1D65BA;
  }
  main .scene.navy .scene-content .line {
    background-color: rgba(108, 155, 210, 0.3);
  }
  main .scene.blue {
    border: 0.2rem solid #0090D5;
  }
  main .scene.blue .scene-title {
    color: #0090D5;
    border-bottom: 0.2rem solid #0090D5;
  }
  main .scene.blue .scene-content .line {
    background-color: #6C9BD2;
  }
  main .scene.green {
    border: 0.2rem solid #00833E;
  }
  main .scene.green .scene-title {
    color: #00833E;
    border-bottom: 0.2rem solid #00833E;
  }
  main .scene.green .scene-content .line {
    background-color: rgba(49, 182, 160, 0.3);
  }
  main .scene-title {
    padding: 2rem 3rem;
  }
  main .scene-title picture {
    margin-right: 3rem;
  }
  main .scene-title picture img {
    height: 3.64001rem;
    max-width: initial;
    width: auto;
  }
  main .scene-title p {
    font-size: 26px;
    font-size: 2.6rem;
    letter-spacing: 0.08em;
    font-weight: bold;
    white-space: nowrap;
  }
  main .scene .example {
    margin-bottom: 2rem;
  }
  main .scene .example .bar {
    display: block;
    height: 0.1rem;
    flex-grow: 1;
    background-color: #221815;
  }
  main .scene .example .bar:nth-child(1) {
    display: none;
  }
  main .scene .example p {
    padding: 0 0.5rem 0 0;
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
  }
  main .scene-content {
    position: relative;
    padding: 3rem;
  }
  main .scene-content .big-title {
    margin-bottom: 2.5rem;
  }
  main .scene-content .big-title.small span.text {
    font-size: 22px;
    font-size: 2.2rem;
  }
  main .scene-content .big-title span.wrap {
    position: relative;
    display: inline-block;
    white-space: nowrap;
  }
  main .scene-content .big-title span.text {
    position: relative;
    font-size: 24px;
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: bold;
    z-index: 1;
  }
  main .scene-content .big-title span.text .md {
    font-size: 16px;
    font-size: 1.6rem;
  }
  main .scene-content .big-title span.line {
    position: absolute;
    height: 1rem;
    left: 50%;
    bottom: 0.4rem;
    width: 100%;
    transform: translate3d(-50%, 0, 0);
  }
  main .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 30rem;
    background-color: #ffffff;
    text-align: center;
  }
  main .btn svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.5rem;
  }
  main .btn.blue {
    border: 0.2rem solid #0090D5;
    color: #0090D5;
  }
  main .btn.blue svg * {
    fill: #0090D5;
  }
  main .btn.green {
    border: 0.2rem solid #00833E;
    color: #00833E;
  }
  main .btn.green svg * {
    fill: #00833E;
  }
  main .btn.black {
    border: 0.2rem solid #221815;
    color: #221815;
  }
  main .btn.black svg * {
    fill: #221815;
  }
  main .btn .text {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.3125;
    font-weight: bold;
  }
  main .qa {
    margin-bottom: 2.5rem;
    overflow: hidden;
  }
  main .qa:last-child {
    margin-bottom: 0;
  }
  main .qa.light-green .q {
    background-color: #31B6A0;
  }
  main .qa.light-green .a {
    border: 0.1rem solid #31B6A0;
  }
  main .qa.light-green .a::before {
    color: #00833E;
  }
  main .qa.light-blue .q {
    background-color: #6C9BD2;
  }
  main .qa.light-blue .a {
    border: 0.1rem solid #6C9BD2;
  }
  main .qa.light-blue .a::before {
    color: #0090D5;
  }
  main .qa.light-gray .q {
    background-color: #888888;
  }
  main .qa.light-gray .a {
    border: 0.1rem solid #888888;
  }
  main .qa.light-gray .a::before {
    color: #221815;
  }
  main .qa.active .q .plus-minus {
    transform: translate3d(0, -50%, 0) rotate(90deg);
  }
  main .qa.active .q .plus-minus span:nth-child(1) {
    opacity: 0;
  }
  main .qa:last-child {
    border-bottom: none;
  }
  main .qa .overflow {
    margin: 2rem 0;
    overflow: scroll;
  }
  main .qa .overflow img {
    height: 61.55676rem;
    max-width: initial;
    width: auto;
  }
  main .qa .icon {
    position: relative;
    top: 0.5rem;
    margin: 0 0.5rem;
    display: inline-block;
  }
  main .qa .icon img {
    height: 2.4rem;
    max-width: initial;
    width: auto;
  }
  main .qa .card {
    margin-bottom: 3rem;
  }
  main .qa .card img {
    height: 10rem;
    max-width: initial;
    width: auto;
  }
  main .qa .q, main .qa .a {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
  }
  main .qa .q {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 6.5rem;
    padding-right: 8rem;
    width: 100%;
    height: 6rem;
    color: #ffffff;
    box-sizing: border-box;
  }
  main .qa .q::before {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    content: "Q";
    left: 2.5rem;
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    font-size: 36px;
    font-size: 3.6rem;
    color: #ffffff;
  }
  main .qa .q .plus-minus {
    position: absolute;
    top: 50%;
    right: 3rem;
    height: 2.4rem;
    width: 2.4rem;
    transform: translate3d(0, -50%, 0);
    transition: transform 0.5s ease;
  }
  main .qa .q .plus-minus span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    height: 0.1rem;
    width: 100%;
    background-color: #ffffff;
    transition: opacity 0.5s ease;
  }
  main .qa .q .plus-minus span:nth-child(2) {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
  }
  main .qa .a {
    position: relative;
    height: 0;
    font-weight: normal;
    transition: height 0.5s ease;
  }
  main .qa .a::before {
    position: absolute;
    top: 2rem;
    content: "A";
    left: 2.5rem;
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    font-size: 36px;
    font-size: 3.6rem;
  }
  main .qa .a__inner {
    padding: 3rem 6.5rem;
  }
  main .faq {
    overflow: hidden;
    margin-bottom: 2rem;
  }
  main .faq:last-child {
    margin-bottom: 0;
  }
  main .faq.active .q::after {
    transform: translate3d(0, -50%, 0) rotate(180deg);
  }
  main .faq:last-child {
    border-bottom: none;
  }
  main .faq .q, main .faq .a {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.375;
    font-weight: bold;
  }
  main .faq .q {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-decoration: underline;
  }
  main .faq .a {
    height: 0;
    transition: height 0.5s ease;
  }
  main .faq .a__inner {
    padding: 3.3333333333vw;
  }
  main .section#top {
    padding: 10.5rem 0 10rem;
  }
  main .section#top h1 {
    margin: 0 auto 7.5rem;
    width: 67.64326rem;
  }
  main .section#top .card {
    margin: 0 auto;
    width: 48.75rem;
  }
  main .section#information {
    padding-bottom: 5rem;
  }
  main .section#information .gray {
    padding: 7rem 0;
    margin-bottom: 4.5rem;
  }
  main .section#information .section-text {
    padding-top: 2rem;
    border-top: 0.1rem solid #221815;
  }
  main .section#information .section-text picture, main .section#information .section-text img {
    display: inline-block;
    height: 2.4rem;
    width: auto;
  }
  main .section#information .section-text picture {
    position: relative;
    margin-right: 0.3rem;
    top: 0.5rem;
  }
  main .section#information .btn-wrapper .btn {
    margin-right: 5rem;
  }
  main .section#information .btn-wrapper .btn:last-child {
    margin-right: 0;
  }
  main .section#use-jre-point .wrapper {
    padding: 7.5rem 0 6rem;
  }
  main .section#get-jre-point .section-text .small {
    display: block;
  }
  main .section#get-jre-point .bg-title .text {
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  main .section#get-jre-point .wrapper {
    padding: 7.5rem 0 6rem;
  }
  main .section#last {
    padding: 7.5rem 0;
    background-color: #F3F3F3;
  }
  main .section#last .wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .section#last .wrapper .box {
    display: block;
    height: 25.5rem;
    width: 47.5%;
    background-color: #ffffff;
  }
  main .section#last .wrapper .box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.6rem;
    width: 100%;
    line-height: 5.6rem;
    background-color: #221815;
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: 0.04em;
    font-weight: bold;
    color: #ffffff;
  }
  main .section#last .wrapper .box-content {
    padding: 2rem;
    height: calc(100% - 5.6rem);
    width: 100%;
    box-sizing: border-box;
  }
  main .section#last .wrapper .box-content p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7142857143;
  }
  main .section#last .wrapper .box-content p a {
    color: #221815;
  }
  main .section__inner {
    margin: 0 auto;
    max-width: 100rem;
    min-width: 100rem;
    width: 78.125%;
  }
  main .section-text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7142857143;
  }
  main .section-text .small {
    font-size: 12px;
    font-size: 1.2rem;
    white-space: nowrap;
  }
  main .section-title {
    margin-bottom: 6.6666666667vw;
    text-align: center;
  }
  main .section-title.blue span.en::before {
    background-color: #0090D5;
  }
  main .section-title.blue span.en {
    color: #0090D5;
  }
  main .section-title.green span.en::before {
    background-color: #00833E;
  }
  main .section-title.green span.en {
    color: #00833E;
  }
  main .section-title.lightGreen span.en::before {
    background-color: #31B6A0;
  }
  main .section-title.lightGreen span.en {
    color: #31B6A0;
  }
  main .section-title span {
    display: block;
  }
  main .section-title .ja {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1.4166666667;
    font-weight: bold;
  }
  main .section-title .en {
    font-size: 20px;
    font-size: 2rem;
    font-family: "Advent Pro", sans-serif;
  }
  main .section-title .en::before {
    display: block;
    margin: 2rem auto;
    content: "";
    height: 0.2rem;
    width: 3.5rem;
  }
  main .section#faq {
    padding-bottom: 7.5rem;
  }
  main .section#faq .gray {
    padding: 7.5rem 0 7.5rem;
  }
  main .section#faq .faq-wrapper {
    margin: 0 auto;
    width: 76%;
    display: flex;
    flex-wrap: wrap;
  }
  main .section#faq .faq-wrapper .faq {
    width: 50%;
  }
  main .section#faq .faq-title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
  }
  main .section#faq .faq-title.green .text {
    color: #00833E;
  }
  main .section#faq .faq-title.green .bar {
    background-color: #00833E;
  }
  main .section#faq .faq-title.navy .text {
    color: #1D65BA;
  }
  main .section#faq .faq-title.navy .bar {
    background-color: #1D65BA;
  }
  main .section#faq .faq-title.black .text {
    color: #221815;
  }
  main .section#faq .faq-title.black .bar {
    background-color: #221815;
  }
  main .section#faq .faq-title .text {
    padding: 0 2rem;
    font-size: 28px;
    font-size: 2.8rem;
    font-weight: bold;
  }
  main .section#faq .faq-title .bar {
    height: 0.2rem;
    flex-grow: 1;
    background-color: black;
  }
}