<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: '', ogimage: ''}) %>
</head>

<body class="">
  <div class="container">
  <%- include('parts/_header') %>
  <main>
    <section id="top" class="section bg-green">
      <div class="section__inner mx-auto">
        <div class="wrapper flex">
          <div class="box">
            <h1 class="title">
              <img src="./assets/img/title.svg" alt="ムスブルミネ">
            </h1>
            <div class="date">
              <img src="./assets/img/date.png" alt="2025.11.13 THU GRAND OPEN">
            </div>
          </div>
          <div class="box">
            <div class="kv">
              <img src="./assets/img/kv.png" alt="">
            </div>
          </div>
        </div>
        <p class="section-text fade-in text-white">
          地域と身体と地球を想いより良い出会いが生まれる場「ムスブルミネ」。<br/>
          心も身体も満たされる「食」をキーワードにやさしい明日をむすんでいきます。
        </p>
        <div class="map-wrapper flex justify-between">
          <div class="box">
              <img src="./assets/img/map.png" alt="">
          </div>
          <div class="box">
            <div class="box-wrapper">
              <div class="box-content">
                <div class="box-header flex">
                  <p class="bg-orange">
                    営業時間
                  </p>
                  <p class="text-white">
                    7:30～23:00
                  </p>
                </div>
                <div class="box-text w-full">
                  <p class="text-white">※営業時間は店舗により異なる</p>
                </div>
              </div>
              <div class="box-content">
                <div class="box-header flex">
                  <p class="bg-orange">
                    アクセス
                  </p>
                  <p class="text-white">
                    JR大宮駅 東口 徒歩1分
                  </p>
                </div>
                <div class="box-text w-full">
                  <p class="text-white">※専用駐車場/駐輪場はございません<br/>
                  ※駐車サービスはルミネ大宮と同様</p>
                </div>
              </div>
            </div>
            <div class="box-bottom bg-orange">
              <p>
                「ムスブルミネ」のトピックス・サービスは<br/>
                ルミネ大宮ホームページをCHECK！<%- include('parts/svg/_link') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="shops" class="section">
      <h2 class="section-title flex justify-center items-center">
        <span class="source-sans-3">SHOPS</span>
        <span class="ja">［店舗紹介］</span>
      </h2>
      <div class="wrapper mx-auto">
        <div class="content">
          <div class="content-wrapper flex flex-wrap">
            <div class="content-image">
              <div class="image"></div>
              <p class="name bold">SLB THE DINING</p>
            </div>
            <div class="content-body">
              <header class="content-header flex items-center">
                <p class="bg-orange">営業時間</p>
                <div class="content-header-text">
                  <p class="flex helvetica">
                    <span>LUNCH</span>
                    <span>11:00-15:30（L.O. 15:00）</span>
                  </p>
                  <p class="flex helvetica">
                    <span>DINNER</span>
                    <span>17:00-23:00（L.O. 22:00）</span>
                  </p>
                </div>
              </header>
              <p class="content-text">大宮市場から仕入れたお魚や、埼玉県産の食材を使用。健康に必要な栄養素をバランスよく摂取できる理想的な献立「一汁三菜」を、和と洋の両方の魅力を味わえる、現代的でカジュアルなスタイルに再構築したコース料理で心も身体も満たされた時間を過ごせるレストラン「SLB THE DINING」</p>
            </div>
            <div class="swiper-container relative mx-auto fade-in w-full" data-swiper="true" data-swiperPc="true" data-initialslide="0" data-center="false" data-centerPc="false" data-loop="false" data-space="135" data-spacePc="40" data-slides="1"  data-slidesPc="2" data-speed="1000" data-autoplay="false" data-navigation="true" data-navigationPc="false" data-scrollbar="false" data-scrollbarPc="false" data-reverse="false" data-pagination="false" data-paginationPc="false">	
                <div class="swiper-button-prev items-center justify-center bg-white flex">
                    <div class="relative"></div>
                </div>
                <div class="swiper-button-next flex items-center justify-center bg-white flex">
                    <div class="relative"></div>
                </div>
              <div class="swiper-wrapper">
              </div>
            </div>
            <div class="content-note">
              <p>
                11月13日（木）～11月19日（水）期間はルミネのアプリ「ONE LUMINE」にて完全事前予約制<br/>
                詳細はルミネ大宮HPもしくはONE LUMINEよりご確認ください。<br/>
                <span class="small">※11月20日以降は下記サイトよりご予約を承ります。</span>
              </p>
            </div>
            <div class="text-center">
              <a href="http://" target="_blank" rel="noopener" class="button flex justify-center relative">
                <span class="button-text text-white">ご予約はこちらから</span>
                <%- include('parts/svg/_link') %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  </div>
</body>
<script src="./assets/js/main.js"></script>
</html>