@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "./awesome";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
}
body {
  font-feature-settings: "palt";
  font-family: $YuGothic;
  // color: $primary;
  // opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
  ::selection {
    color: $white;
    background-color: $black;
  }
  &.loaded,
  &.visited {
    opacity: 1;
  }
  .hidden {
    visibility: hidden;
  }
}

.helvetica {
  font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media screen and (max-width: 749px) {
}

@media screen and (min-width: 750px) {
  #header {
    padding: 0 rem(20);
    height: rem(65);
    border-bottom: rem(1) solid $beige;
    .logo {
      width: rem(88.4292);
    }
  }
  main {
    padding-top: rem(65);
    section {
      &#top {

      }
    }
  }
}
