// @import "./awesome";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
}
body {
  font-feature-settings: "palt";
  font-family: $YuGothic;
  color: $primary;
  opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
  ::selection {
    color: $white;
    background-color: $primary;
  }
  &.loaded,
  &.visited {
    opacity: 1;
  }
  .hidden {
    visibility: hidden;
  }
}
.bold {
  font-weight: bold;
}
.underline {
  color: $black;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.whitespace {
  white-space: nowrap;
}
.red {
  color: red !important;
}

@media screen and (max-width: 749px) {
  .show {
    opacity: 0;
    transform: translate3d(0, vw(10), 0);
    // transform: translate3d(0, rem(10), 0) scale(0.95);
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  a.underline {
    display: inline-flex;
    &.noicon {
      &::after {
        display: none;
      }
    }
    &::after {
      margin-top: vw(2);
      margin-left: vw(2);
      display: block;
      content: url(./../.../../../assets/img/icon.svg);
      // height: rem(24);
      width: vw(22);
    }
  }
  .center-layout {
    display: block;
    position: relative;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100vw;
  }
  #to-top {
    position: fixed;
    right: vw(20);
    bottom: vw(125);
    width: vw(100);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s $zoom;
    z-index: 10;
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #bottom {
    position: fixed;
    @include fitcenter();
    bottom: 0;
    left:0;
    height: vw(120);
    width: 100%;
    background-color: #f7f8f8;
    border-top: rem(1) solid $black;
    z-index: 10;
    .text {
      @include fontvw(32);
      @include tracking(100);
      color: $black;
      font-weight: bold;
    }
    svg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: vw(40);
    }
    svg * {
      fill: #221815;
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    height: vw(100);
    width: 100%;
    padding-left: vw(30);
    background-color: $white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: rem(1) solid $black;
    z-index: 10;
    .lumine {
      margin-right: vw(40);
      width: vw(134.6111);
    }
    .newoman {
      width: vw(176.6068); 
    }
    .jre {
      width: vw(90); 
      position: absolute;
      top: 50%;
      right: vw(30);
      transform: translate3d(0, -50%, 0);
    }
  }
  #footer {
    @include fitcenter();
    height: vw(100);
    background-color: $black;
    p {
      @include fontvw(22); 
      text-align: center;
      color: $white;
    }
  }
  .container {
    padding-bottom: vw(120);
    background-image: url(./../../assets/img/bg_sp.svg);
    background-size: 100%;
    background-repeat: repeat;
  }
  main {
    padding-top: vw(100);
    .wrapper {
      &.gray {
        background-color: #F7F8F8;
      }
      &.green {
        background-color: rgba(49,182,160,.4);
      }
      &.blue {
        background-color: rgba(108,155,210,.4);
      }
    }
    .bg-title {
      position: relative;
      margin-bottom: vw(25);
      &.mt {
        margin-top: vw(25);
      }
      &.mb {
        margin-bottom: vw(50);
      }
      .text {
        @include center();
        text-align: center;
        width: 100%;
        @include fontvw(34);
        // line-height: (50 / 34);
        line-height: 1.6;
        font-weight: bold;
        color: $white;
        z-index: 1;
        .big, .medium {
          @include fontvw(50);
        }
        .card {
          display: block;
          margin: 0 auto vw(20);
        }
        .card1 {
          width: vw(467.4871);
        }
        .card2, .card3 {
          width: vw(142.6643);
        }
      }
    }
    .scene-wrapper {
      margin-top: vw(50);
    }
    .cards {
      margin-top: vw(80);
      .img {
        margin: 0 auto vw(40);
        width: vw(400);
      }
      p {
        @include fontvw(28);
        @include tracking(100);
        font-weight: bold;
        line-height: (42 / 28);
        text-align: center;
        .wrap {
          position: relative;
          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            content: '';
            height: vw(16.983);
            width: 100%;
            background-color: $white;
          }
          .text {
            position: relative;
            z-index: 1;
          }
        }
      }
    }
    .scene {
      background-color: $white;
      margin-bottom: vw(55);
      .normal {
        font-weight: normal !important;
      }
      .box_ {
        display: block;
        height: vw(45);
        line-height: vw(44);
        width: vw(120);
        @include fontvw(24);
        text-align: center;
        margin: vw(25) auto;
        &.green {
          color: $green;
          border: rem(1) solid $green;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      .step {
        margin-bottom: vw(50);
        &:last-child {
          margin-bottom: 0;
        }
        &-title {
          margin-bottom: vw(25);
          p {
            margin: 0 auto;
            height: vw(45);
            width: vw(120);
            line-height: vw(44);
            @include fontvw(34);
            @include tracking(60);
            font-weight: bold;
            text-align: center;
            color: $green;
            border: rem(1) solid $green;
            font-family: $Advent;
          }
        }
        &-text {
          margin-bottom: vw(20);
          @include fontvw(30);
          @include tracking(50);
          line-height: (40 / 30);
          font-weight: bold;
          text-align: center;
        }
        &-btn {
          position: relative;
          @include fitcenter();
          height: vw(120);
          width: 100%;
          border-radius: vw(20);
          background-color: $lightGreen;
          &.navy {
            background-color: $lightBlue;
          }
          span {
            @include fontvw(32);
            @include tracking(100);
            line-height: (42 / 32);
            font-weight: bold;
            text-align: center;
            color: $white;
          } 
          &::after {
            position: absolute;
            top: 50%;
            right: vw(25);
            transform: translate3d(0, -50%, 0);
            content: url(./../.../../../assets/img/icon_white.svg);
            // height: vw(40);
            width: vw(30);
          }
        }
      }
      .text {
        font-weight: bold;
        @include fontvw(24);
        line-height: (48 / 24);
        .big {
          @include fontvw(34);
          &.black {
            color: #221815 !important;
          }
        }
        .small {
          font-weight: normal;
          @include fontvw(22);
          line-height: (36 / 22);
          &.kome {
            display: flex;
            &::before {
              content: '※';
            }
          }
        }
        .super-small {
          font-size: 2.733333vw !important;
        }
      }
      .illust {
        position: relative;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
      &.scene1 {
        .green {
          color: $green;
        }
        .illust {
          margin-top: vw(-30);
          width: vw(561.3169);
        }
        .scene-content {
          .text-wrapper {
            .text {
              text-align: center;
              &:last-child {
                &::after {
                  opacity: 0;
                }
              }
              &::after {
                margin: vw(20) auto;
                display: block;
                content: url(./../.../../../assets/img/tri-green.svg);
                height: vw(15);
                width: vw(30);
                line-height: 0;
              }
            }
          }
        }
      }
      &.scene2 {
        .illust {
          margin-top: vw(10);
          width: vw(601.0582);
        }
        .scene-content {
          text-align: center;
          .big-title {
            &.full {
              margin-bottom: vw(20);
            }
          }
          .text-wrapper {
            margin: 1vw 0;
            display: inline-block;
            .text {
              text-align: center;
              span {
                &:nth-child(1) {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  @include fontvw(28);
                  @include tracking(40);
                  white-space: nowrap;
                  width: 40vw;
                  font-weight: normal;
                  &::after {
                    position: relative;
                    margin: 0 vw(25);
                    display: block;
                    content: url(./../.../../../assets/img/tri-green.svg);
                    height: vw(15);
                    width: vw(30);
                    line-height: 0;
                    transform: rotate(-90deg);
                  }
                }
                &:nth-child(2) {
                  margin-right: 0;
                  margin-left: auto;
                  @include fontvw(32);
                  @include tracking(40);
                  font-weight: bold;
                  color: $green;
                }
              }
              .big {
                color: $green;
              }
            }
          }
          .hikikae {
            &-title {
              padding: vw(35) 0 vw(30);
              @include fontvw(38);
              font-weight: bold;
              color: $green;
              text-align: center;
              p {
                padding: 0 vw(20);
              }
              .bar {
                display: block;
                height: rem(1);
                flex-grow: 1;
                background-color: $black;
              }
            }
          }
          .step-wrapper {
            padding-bottom: vw(50);
            margin-bottom: vw(50);
            border-bottom: rem(1) solid $black;
          }
        }
        .section-text.right {
          text-align: right;
          padding-right: 4vw;
        }
      }
      &.scene3 {
        .illust {
          width: vw(465.2793);
        }
        .scene-content {
          text-align: center;
          .big-title.mt {
            margin-top: vw(60);
          }
          .text-wrapper {
            display: inline-block;
            .text {
              @include fontvw(28);
              &.arrow {
                &::after {
                  position: relative;
                  margin: vw(20) auto;
                  display: block;
                  content: url(./../.../../../assets/img/tri-blue.svg);
                  height: vw(15);
                  width: vw(30);
                  line-height: 0;
                }
              }
            }
            .big {
              color: $navy;
            }
          }
          .text .kome {
            text-align: left;
            &:first-child {
              margin-top: vw(30);
            }
          }
          .step-wrapper {
            margin-top: vw(50);
          }
          .hikikae {
            &-title {
              padding: vw(35) 0 vw(30);
              @include fontvw(38);
              font-weight: bold;
              color: $green;
              text-align: center;
              p {
                padding: 0 vw(20);
              }
              .bar {
                display: block;
                height: rem(1);
                flex-grow: 1;
                background-color: $black;
              }
            }
          }
        }
      }
      &.navy {
        border: vw(2) solid $navy;
        .scene-title {
          color: $navy;
          border-bottom: vw(2) solid $navy;
        }
        .scene-content {
          .line {
            background-color: rgba(108, 155, 210, .3);
          }
        }
      }
      &.blue {
        border: vw(2) solid $blue;
        .scene-title {
          color: $blue;
          border-bottom: vw(2) solid $blue;
        }
        .scene-content {
          .line {
            background-color: $lightBlue;
          }
        }
      }
      &.green {
        border: vw(2) solid $green;
        .scene-title {
          color: $green;
          border-bottom: vw(2) solid $green;
        }
        .scene-content {
          .line {
            background-color: rgba(49, 182, 160, .3);
          }
        }
      }
      &-title {
        padding: vw(40);
        picture {
          margin-right: vw(70);
          img {
            height: vw(90.8643);
            width: auto;
            max-width: initial;
          }
        }
        p {
          @include fontvw(38);
          @include tracking(80);
          line-height: (57 / 38);
          font-weight: bold;
          white-space: nowrap;
        }
      }
      // &-title {
      //   position: relative;
      //   height: vw(175);
      //   picture {
      //     position: absolute;
      //     @include fitcenter();
      //     left: 0;
      //     top: 0;
      //     height: 100%;
      //     width: vw(140);
      //     img {
      //       height: vw(90.8643);
      //       width: auto;
      //       max-width: initial;
      //     }
      //   }
      //   p {
      //     margin-right: 0;
      //     margin-left: auto;
      //     @include fitcenter();
      //     width: calc( 100% - 15.3333333333vw );
      //     @include fontvw(40);
      //     @include tracking(80);
      //     line-height: (57 / 38);
      //     font-weight: bold;
      //     white-space: nowrap;
      //     text-align: center;
      //     span {
      //       display: inline-block;
      //     text-align: left;
      //     }
      //   }
      // }
      .example {
        margin-bottom: vw(25);
        .bar {
          display: block;
          height: rem(1);
          flex-grow: 1;
          background-color: $black;
        }
        p {
          padding: 0 vw(15);
          @include fontvw(30);
          @include tracking(50);
          font-weight: bold;
          text-align: center;
        }
      }
      &-content {
        padding: vw(50) vw(40);
        .big-title {
          margin-bottom: vw(45);
          text-align: center;
          &.left {
            position: relative;
            left: -2vw;
          }
          span {
            &.wrap {
              position: relative;
              display: inline-block;
              white-space: nowrap;
            }
            &.text {
              position: relative;
              @include fontvw(38);
              @include tracking(100);
              line-height: (57 / 38);
              font-weight: bold;
              z-index: 1;
              .md {
                @include fontvw(28);
              }
            }
            &.line {
              position: absolute;
              height: vw(15);
              left: 50%;
              bottom: vw(7);
              width: 100%;
              transform: translate3d(-50%, 0, 0);
            }
          }
        }
      }
    }
    .btn {
      position: relative;
      @include fitcenter();
      height: vw(120);
      width: vw(200);
      background-color: $white;
      text-align: center;
      svg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: vw(40);
      }
      &.blue {
        // background-color: rgba(161, 214, 220, .6);
        border: vw(2) solid $navy;
        color: $navy;
        svg * {
          fill: $navy;
        }
      }
      &.green {
        // background-color: rgba(194, 216, 78, .5);
        border: vw(2) solid $green;
        color: $green;
        svg * {
          fill: $green;
        }
      }
      &.black {
        // background-color: rgba(226, 226, 226, .7);
        border: vw(2) solid $black;
        color: $black;
        svg * {
          fill: $black;
        }
      }
      .text {
        @include fontvw(32);
        line-height: (42/ 32);
        font-weight: bold;
      }
    }
    .show {
      &:last-child .qa {
      margin-bottom: 0;
      }
    }
    .qa {
      margin-bottom: vw(25);
      overflow: hidden;
      &.light-green {
        .q {
          background-color: $lightGreen;
        }
        .a {
          border: rem(1) solid $lightGreen;
          &::before {
            color: $green;
          }
        }
      }
      &.light-blue {
        .q {
          background-color: $lightBlue;
        }
        .a {
          border: rem(1) solid $lightBlue;
          &::before {
            color: $blue;
          }
        }
      }
      &.light-gray {
        .q {
          background-color: $lightGray;
        }
        .a {
          border: rem(1) solid $lightGray;
          &::before {
            color: $black;
          }
        }
      }
      &.active {
        .q {
          .plus-minus {
            transform: translate3d(0, -50%, 0) rotate(90deg);
            span {
              &:nth-child(1) {
                opacity: 0;
              }
            }
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
      .overflow {
        margin: vw(20) 0;
        overflow: scroll;
        img {
          height: vw(1000);
          max-width: initial;
          width: auto;
        }
      }
      .icon {
        position: relative;
        top: vw(5);
        margin: 0 vw(5);
        display: inline-block;
        img {
          height: vw(40);
          max-width: initial;
          width: auto;
        }
      }
      .card {
        margin-bottom: vw(20);
        img {
          height: vw(90);
          max-width: initial;
          width: auto;
        }
      }
      .q, .a {
        @include fontvw(24);
        @include tracking(50);
        line-height: 1.5;
        // line-height: (32 / 24);
        font-weight: bold;
      }
      .q {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: vw(80);
        padding-right: vw(90);
        width: 100%;
        height: vw(120);
        color: $white;
        box-sizing: border-box;
        &::before {
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          content: 'Q';
          left: vw(30);
          font-family: $Advent;
          font-weight: 600;
          @include fontvw(60);
          color: $white;
        }
        .plus-minus {
          position: absolute;
          top: 50%;
          right: vw(25);
          height: vw(40);
          width: vw(40);
          transform: translate3d(0, -50%, 0);
          transition: transform .5s ease;
          span {
            @include center();
            height: rem(1);
            width: vw(40);
            background-color: $white;
            transition: opacity .5s ease;
            &:nth-child(2) {
              transform: translate3d(-50%, -50%, 0) rotate(90deg);
            }
          }
        }
      }
      .a {
        position: relative;
        height: 0;
        font-weight: normal;
        background-color: $white;
        transition: height .5s ease;
        &::before {
          position: absolute;
          top: vw(15);
          content: 'A';
          left: vw(30);
          font-family: $Advent;
          font-weight: 600;
          @include fontvw(60);
        }
        &__inner {
          padding: vw(25) vw(25) vw(25) vw(80);
        }
      }
    }
    .faq {
      overflow: hidden;
      // border-bottom: rem(1) solid $black;
      margin-bottom: vw(50);
      &:last-child {
      margin-bottom: 0;
      }
      &.active {
        .q {
          &::after {
            transform: translate3d(0, -50%, 0) rotate(180deg);
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
      .q, .a {
        @include fontvw(24);
        line-height: (32 / 24);
        font-weight: bold;
      }
      .q {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
      .a {
        height: 0;
        transition: height .5s ease;
        &__inner {
          padding: vw(25);
        }
      }
    }
    .section {
      &#top {
        padding: vw(100) 0 vw(75);
        h1 {
          margin: 0 auto vw(65);
          width: vw(581.146); 
        }
        .card {
          margin: 0 auto;
          width: vw(504.4299);
        }
      }
      &#information {
        padding-bottom: vw(70);
        .gray {
          padding: vw(70) 0;
          margin-bottom: vw(75);
        }
        .section-text {
          padding-top: vw(25);
          border-top: rem(1) solid $black;
          picture, img {
            display: inline-block;
            height: vw(40);
            width: auto;
          }
          picture {
            position: relative;
            margin-right: vw(3);
            top: vw(10);
          }
        }
        .btn-wrapper {
          .btn {
            margin-right: vw(35);
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      &#use-jre-point , &#get-jre-point {
        .section {
          &-title {
            margin-bottom: vw(75);
          }
        }
      }
      &#use-jre-point {
        .wrapper {
          padding: vw(60) 0 vw(75);
        }
      }
      &#get-jre-point {
        .wrapper {
          padding: vw(60) 0 vw(75);
        }
      }
      &#last {
        padding: vw(75) 0 vw(80);
        background-color: #F3F3F3;
        .wrapper {
          flex-wrap: wrap;
          margin: 0 auto;
          width: vw(670);
          .box {
            display: block;
            width: 100%;
            background-color: $white;
            margin-bottom: vw(50);
            &:last-child {
              margin-bottom: 0;
            }
            &-title {
              @include fitcenter();
              height: vw(80);
              width: 100%;
              line-height: vw(80);
              background-color: $black;
              @include fontvw(28);
              @include tracking(40);
              font-weight: bold;
              color: $white;
            }
            &-content {
              padding: vw(30);
              width: 100%;
              box-sizing: border-box;
              p {
                @include fontvw(24);
                line-height: (42 / 24);
                span.bold {
                  @include fontvw(26);
                }
                a {
                  color: $black;
                }
              }
            }
          }
        }
      }
      &__inner {
        margin: 0 auto;
        width: vw(670);
      }
      &-text {
        @include fontvw(24);
        line-height: (42 / 24);
        .small {
          display: block;
          @include fontvw(22);
        }
      }
      &-title {
        margin-bottom: vw(50);
        text-align: center;
        &.blue {
          span.en {
            &::before {
              background-color: $blue;
            }
          }
          span.en {
            color: $blue;
          }
        }
        &.green {
          span.en {
            &::before {
              background-color: $green;
            }
          }
          span.en {
            color: $green;
          }
        }
        &.lightGreen {
          span.en {
            &::before {
              background-color: $lightGreen;
            }
          }
          span.en {
            color: $lightGreen;
          }
        }
        span {
          display: block;
        }
        .ja {
          @include fontvw(48);
          line-height: (68 / 48);
          font-weight: bold;
        }
        .en {
          @include fontvw(30);
          font-family: $Advent;
          &::before {
            display: block;
            margin: vw(20) auto;
            content: '';
            height: vw(2);
            width: vw(50);
          }
        }
      }
      &#faq {
        padding-bottom: vw(75);
        .gray {
          padding: vw(75) 0 vw(75);
        }
        .faq-title {
          margin-top: vw(50);
          margin-bottom: vw(50);
          position: relative;
          display: flex;
          align-items: center;
          text-align: center;
          &.green {
            .text {
              color: $green;
            }
            .bar {
              background-color: $green;
            }
          }
          &.navy {
            .text {
              color: $navy;
            }
            .bar {
              background-color: $navy;
            }
          }
          &.black {
            .text {
              color: $black;
            }
            .bar {
              background-color: $black;
            }
          }
          .text {
            padding: 0 vw(12);
            @include fontvw(42); 
            font-weight: bold;
          }
          .bar {
            height: vw(4);
            flex-grow: 1;
            background-color: black;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .show {
    opacity: 0;
    // transform: translate3d(0, vw(10), 0);
    transform: translate3d(0, rem(10), 0);
    transition: transform $slow 3s, opacity $slow 3s;
    &.active {
      opacity: 1;
      will-change: opacity, transform;
      transform: translate3d(0, 0, 0);
    }
  }
  .hover, .scroll-trigger, a.underline {
    transition: opacity 0.5s $zoom;
    &:hover {
      opacity: 0.5;
      will-change: opacity;
    }
  }
  a.underline {
    display: inline-flex;
    &.noicon {
      &::after {
        display: none;
      }
    }
    &::after {
      margin-top: rem(2);
      margin-left: rem(2);
      display: block;
      content: url(./../.../../../assets/img/icon.svg);
      // height: rem(24);
      width: rem(11);
    }
  }
  .scroll-trigger {
    cursor: pointer;
  }
  #to-top {
    position: fixed;
    right: rem(50);
    bottom: rem(100);
    width: rem(50);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s $zoom;
    z-index: 10;
    &.active {
      pointer-events: initial;
      opacity: 1;
    }
  }
  #bottom {
    position: fixed;
    @include fitcenter();
    top: 50%;
    right: 0;
    height: rem(185);
    width: rem(50);
    background-color: #f7f8f8;
    border: rem(1) solid $black;
    transform: translate3d(0, -50%, 0);
    z-index: 10;
    .text {
      font-feature-settings: initial;
      writing-mode: vertical-rl;
      @include fontsize(18);
      @include tracking(100);
      color: $black;
      font-weight: bold;
    }
    svg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: rem(15);
    }
    svg * {
      fill: #221815;
    }
  }
  #header {
    position: fixed;
    top: 0;
    left:0;
    height: rem(60);
    width: 100%;
    padding-left: rem(30);
    background-color: $white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: rem(1) solid $black;
    z-index: 10;
    .lumine {
      margin-right: rem(30);
      width: rem(100);
    }
    .newoman {
      width: rem(132); 
    }
    .jre {
      position: absolute;
      top: 50%;
      right: rem(30);
      transform: translate3d(0, -50%, 0);
      width: rem(50); 
    }
  }
  #footer {
    @include fitcenter();
    height: rem(50);
    background-color: $black;
    p {
      @include fontsize(12); 
      text-align: center;
      color: $white;
    }
  }
  .container {
    background-image: url(./../../assets/img/bg.svg);
    background-size: contain;
    // background-repeat: repeat;
  }
  .text-center {
    text-align: center;
  }
  main {
    padding-top: vw(100);
    overflow: hidden;
    // padding-bottom: vw(120);
    .wrapper {
      &.gray {
        background-color: #F7F8F8;
      }
      &.green {
        background-color: rgba(49,182,160,.4);
      }
      &.blue {
        background-color: rgba(108,155,210,.4);
      }
    }
    .bg-title {
      position: relative;
      margin-bottom: rem(10);
      &.mt {
        margin-top: rem(25);
      }
      &.mb {
        margin-bottom: rem(25);
      }
      .text {
        @include center();
        text-align: center;
        width: 100%;
        @include fontsize(20);
        // line-height: (30 / 20);
        line-height: 1.6;
        font-weight: bold;
        color: $white;
        z-index: 1;
        .big {
          @include fontsize(36);
        }
        .medium {
          @include fontsize(30);
          line-height: 1.2;
        }
        .card {
          display: block;
        }
        .card1 {
          margin: 0 auto rem(5);
          width: rem(233.7436);
        }
        .card2, .card3 {
          margin-right: rem(5);
          width: rem(71.3322);
        }
      }
    }
    .scene-wrapper {
      margin-top: rem(50);
    }
    .cards {
      margin-top: rem(50);
      @include fitcenter();
      .img {
        margin-right: rem(65);
        width: rem(315.7294);
      }
      p {
        @include fontsize(22);
        @include tracking(100);
        font-weight: bold;
        line-height: (36 / 22);
        .wrap {
          position: relative;
          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            content: '';
            height: rem(10);
            width: 100%;
            background-color: $white;
          }
          .text {
            position: relative;
            z-index: 1;
          }
        }
      }
    }
    .scene {
      position: relative;
      background-color: $white;
      margin-bottom: rem(55);
      .normal {
        font-weight: normal !important;
      }
      .box_ {
        margin-top: rem(10);
        margin-bottom: rem(10);
        display: block;
        height: rem(30);
        line-height: rem(30);
        width: rem(80);
        @include fontsize(16);
        text-align: center;
        &.mt {
          margin-top: rem(10);
        }
        &.green {
          color: $green;
          border: rem(1.5) solid $green;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      .step {
        margin-bottom: rem(25);
        &:last-child {
          margin-bottom: 0;
        }
        &-title {
          margin-right: rem(15);
          p {
            height: rem(40);
            width: rem(80);
            line-height: rem(39);
            @include fontsize(20);
            @include tracking(60);
            font-weight: bold;
            text-align: center;
            color: $green;
            border: rem(1) solid $green;
            font-family: $Advent;
          }
        }
        &-text {
          @include fontsize(18);
          @include tracking(50);
          line-height: (26 / 18);
          font-weight: bold;
          text-align: left;
        }
        &-btn {
          position: relative;
          @include fitcenter();
          height: rem(60);
          width: rem(300);
          border-radius: rem(10);
          background-color: $lightGreen;
          cursor: pointer;
          &.navy {
            background-color: $lightBlue;
          }
          span {
            @include fontsize(16);
            @include tracking(100);
            line-height: (22 / 16);
            font-weight: bold;
            text-align: center;
            color: $white;
          } 
          &::after {
            position: absolute;
            top: 50%;
            right: rem(15);
            transform: translate3d(0, -50%, 0);
            content: url(./../.../../../assets/img/icon_white.svg);
            // height: rem(24);
            width: rem(18);
          }
        }
      }
      .text {
        font-weight: bold;
        @include fontsize(16);
        line-height: (32 / 16);
        .big {
          @include fontsize(20);
          &.black {
            color: #221815 !important;
          }
        }
        .small {
          font-weight: normal;
          @include fontsize(12);
          line-height: (18 / 12);
          &.kome {
            display: flex;
            &::before {
              content: '※';
            }
          }
        }
        .super-small {
          display: block;
          margin-top: rem(10);
        }
      }
      .illust {
        position: absolute;
      }
      &.scene1, &.scene3 {
        .text-wrapper {
          text-align: center;
          .text {
            text-align: center;
            &::after {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
        .box_ {
          margin-left: auto;
          margin-right: auto;
        }
      }
      &.scene1 {
        .green {
          color: $green;
        }
        .illust {
          top: rem(130);
          right: rem(30);
          width: rem(356.7588);
        }
        .example {
          width: 57%;
          overflow: hidden;
        }
        .big-title, .text-wrapper {
          width: 60%;
        }
        .big-title {
          text-align: center;
        }
        .scene-content {
          .text-wrapper {
            .text {
              &:last-child {
                &::after {
                  margin-bottom: 0;
                  opacity: 0;
                }
              }
              &::after {
                margin-top: rem(10);
                margin-bottom: rem(10);
                display: block;
                content: url(./../.../../../assets/img/tri-green.svg);
                height: rem(10);
                width: rem(20);
                line-height: 0;
              }
            }
          }
        }
      }
      &.scene2 {
        .illust {
          top: rem(-45);
          right: rem(30);
          // left: rem(30);
          width: rem(363.7299);
        }
        .scene-title {
          // justify-content: flex-end;
        }
        .left, .right {
          .text {
            line-height: 1.6;
          }
        }
        .scene-content {
          text-align: center;
          .big-title, .example, .text-wrapper {
            // margin: 0 0 0 auto;
            width: rem(560);
          }
          .example {
            margin: rem(20) auto rem(20) 0;
            // margin: rem(20) 0 rem(20) auto;
            .bar {
              display: none;
            }
          }
          .flex {
            flex-wrap: wrap;
            .big-title {
              width: 100%;
              margin: 0;
            }
          }
          .big-title {
            &.full {
              text-align: center;
              width: 100%;
            }
          }
          .text-wrapper {
            display: flex;
            div {
              &.left {
                margin-right: rem(50);
              }
            }
            .text {
              text-align: center;
              white-space: nowrap;
              span {
                &:nth-child(1) {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  @include fontsize(16);
                  @include tracking(40);
                  font-weight: normal;
                  &.zu {
                    &::after {
                      left: rem(9);
                    }
                  }
                  &::after {
                    position: relative;
                    margin: 0 rem(18);
                    display: block;
                    content: url(./../.../../../assets/img/tri-green.svg);
                    width: rem(17.1428);
                    line-height: 0;
                    transform: rotate(-90deg);
                  }
                }
                &:nth-child(2) {
                  margin-right: 0;
                  margin-left: auto;
                  @include fontsize(18);
                  @include tracking(40);
                  font-weight: bold;
                  color: $green;
                }
              }
              .big {
                color: $green;
              }
            }
          }
          .hikikae {
            &-title {
              padding: rem(35) 0;
              @include fontsize(24);
              font-weight: bold;
              color: $green;
              text-align: center;
              p {
                padding: 0 rem(17);
              }
              .bar {
                display: block;
                height: rem(1);
                flex-grow: 1;
                background-color: $black;
              }
            }
          }
          .step-wrapper {
            padding: 0 rem(95) rem(50) rem(95);
            margin-bottom: rem(30);
            border-bottom: rem(1) solid $black;
          }
        }
      }
      &.scene3 {
        .illust {
          top: rem(100);
          right: rem(35);
          width: rem(285.253);
        }
        .scene-content {
          text-align: center;
          .big-title, .text-wrapper, .example {
            width: rem(560);
          }
          .big-title {
            // text-align: left;
            &.mt {
              margin-top: rem(25);
            }
          }
          .text-wrapper {
            .text {
              @include fontsize(16);
              &.mb {
                margin-bottom: rem(10);
              }
              &.arrow {
                &::after {
                  margin: rem(10) auto rem(10) auto;
                  display: block;
                  content: url(./../.../../../assets/img/tri-blue.svg);
                  height: rem(10);
                  width: rem(20);
                  line-height: 0;
                }
              }
            }
            .big {
              color: $navy;
            }
          }
          .text .kome {
            // margin-top: rem(10);
            text-align: left;
            // justify-content: center;
          }
          .step-wrapper {
            // position: absolute;
            // bottom: rem(30);
            // right: rem(30);
            display: flex;
            justify-content: space-between;
            margin-top: rem(50);
            .step {
              margin-bottom: rem(25);
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      &.navy {
        border: rem(2) solid $navy;
        .scene-title {
          color: $navy;
          border-bottom: rem(2) solid $navy;
        }
        .scene-content {
          .line {
            background-color: rgba(108, 155, 210, .3);
          }
        }
      }
      &.blue {
        border: rem(2) solid $blue;
        .scene-title {
          color: $blue;
          border-bottom: rem(2) solid $blue;
        }
        .scene-content {
          .line {
            background-color: $lightBlue;
          }
        }
      }
      &.green {
        border: rem(2) solid $green;
        .scene-title {
          color: $green;
          border-bottom: rem(2) solid $green;
        }
        .scene-content {
          .line {
            background-color: rgba(49, 182, 160, .3);
          }
        }
      }
      &-title {
        padding: rem(20) rem(30);
        picture {
          margin-right: rem(30);
          img {
            height: rem(36.4001);
            max-width: initial;
            width: auto;
          }
        }
        p {
          @include fontsize(26);
          @include tracking(80);
          // line-height: (57 / 38);
          font-weight: bold;
          white-space: nowrap;
        }
      }
      .example {
        margin-bottom: rem(20);
        .bar {
          display: block;
          height: rem(1);
          flex-grow: 1;
          background-color: $black;
          &:nth-child(1) {
            display: none;
          }
        }
        p {
          padding: 0 rem(5) 0 0;
          @include fontsize(18);
          @include tracking(50);
          font-weight: bold;
          text-align: center;
        }
      }
      &-content {
        position: relative;
        padding: rem(30);
        .big-title {
          margin-bottom: rem(25);
          // text-align: center;
          &.small {
            span {
              &.text {
                @include fontsize(22);
              }
            }
          }
          span {
            &.wrap {
              position: relative;
              display: inline-block;
              white-space: nowrap;
            }
            &.text {
              position: relative;
              @include fontsize(24);
              @include tracking(100);
              line-height: (57 / 38);
              font-weight: bold;
              z-index: 1;
              .md {
                @include fontsize(16);
              }
            }
            &.line {
              position: absolute;
              height: rem(10);
              left: 50%;
              bottom: rem(4);
              width: 100%;
              transform: translate3d(-50%, 0, 0);
            }
          }
        }
      }
    }
    .btn {
      position: relative;
      @include fitcenter();
      height: rem(80);
      width: rem(300);
      background-color: $white;
      text-align: center;
      svg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: rem(25);
      }
      &.blue {
        // background-color: rgba(161, 214, 220, .6);
        border: rem(2) solid $navy;
        color: $navy;
        svg * {
          fill: $navy;
        }
      }
      &.green {
        // background-color: rgba(194, 216, 78, .5);
        border: rem(2) solid $green;
        color: $green;
        svg * {
          fill: $green;
        }
      }
      &.black {
        // background-color: rgba(226, 226, 226, .7);
        border: rem(2) solid $black;
        color: $black;
        svg * {
          fill: $black;
        }
      }
      .text {
        @include fontsize(26);
        line-height: (42/ 32);
        font-weight: bold;
      }
    }
    .show {
      &:last-child .qa {
      margin-bottom: 0;
      }
    }
    .qa {
      margin-bottom: rem(25);
      overflow: hidden;
      &.light-green {
        .q {
          background-color: $lightGreen;
        }
        .a {
          border: rem(1) solid $lightGreen;
          &::before {
            color: $green;
          }
        }
      }
      &.light-blue {
        .q {
          background-color: $lightBlue;
        }
        .a {
          border: rem(1) solid $lightBlue;
          &::before {
            color: $blue;
          }
        }
      }
      &.light-gray {
        .q {
          background-color: $lightGray;
        }
        .a {
          border: rem(1) solid $lightGray;
          &::before {
            color: $black;
          }
        }
      }
      &.active {
        .q {
          .plus-minus {
            transform: translate3d(0, -50%, 0) rotate(90deg);
            span {
              &:nth-child(1) {
                opacity: 0;
              }
            }
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
      .overflow {
        margin: rem(20) 0;
        overflow: scroll;
        img {
          height: rem(615.5676);
          max-width: initial;
          width: auto;
        }
      }
      .icon {
        position: relative;
        top: rem(5);
        margin: 0 rem(5);
        display: inline-block;
        img {
          height: rem(24);
          max-width: initial;
          width: auto;
        }
      }
      .card {
        margin-bottom: rem(30);
        img {
          height: rem(100);
          max-width: initial;
          width: auto;
        }
      }
      .q {
        @include fontsize(16);
        line-height: (24 / 16);
        font-weight: bold;
      }
      .a {
        @include fontsize(14);
        line-height: (24 / 14);
      }
      .q {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: rem(65);
        padding-right: rem(80);
        width: 100%;
        height: rem(60);
        color: $white;
        cursor: pointer;
        box-sizing: border-box;
        &::before {
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          content: 'Q';
          left: rem(25);
          font-family: $Advent;
          font-weight: 600;
          @include fontsize(36);
          color: $white;
        }
        .plus-minus {
          position: absolute;
          top: 50%;
          right: rem(30);
          height: rem(24);
          width: rem(24);
          transform: translate3d(0, -50%, 0);
          transition: transform .5s ease;
          span {
            @include center();
            height: rem(1);
            width: 100%;
            background-color: $white;
            transition: opacity .5s ease;
            &:nth-child(2) {
              transform: translate3d(-50%, -50%, 0) rotate(90deg);
            }
          }
        }
      }
      .a {
        position: relative;
        height: 0;
        font-weight: normal;
        background-color: $white;
        transition: height .5s ease;
        &::before {
          position: absolute;
          top: rem(20);
          content: 'A';
          left: rem(25);
          font-family: $Advent;
          font-weight: 600;
          @include fontsize(36);
        }
        &__inner {
          padding: rem(30) rem(65);
        }
      }
    }
    .faq {
      overflow: hidden;
      // border-bottom: rem(1) solid $black;
      margin-bottom: rem(20);
      &:last-child {
      margin-bottom: 0;
      }
      &.active {
        .q {
          &::after {
            transform: translate3d(0, -50%, 0) rotate(180deg);
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
      .q, .a {
        @include fontsize(16);
        line-height: (22 / 16);
        font-weight: bold;
      }
      .q {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        text-decoration: underline;
      }
      .a {
        height: 0;
        transition: height .5s ease;
        &__inner {
          padding: vw(25);
        }
      }
    }
    .section {
      &#top {
        padding: rem(105) 0 rem(100);
        h1 {
          margin: 0 auto rem(75);
          width: rem(676.4326); 
        }
        .card {
          margin: 0 auto;
          width: rem(487.5);
        }
      }
      &#information {
        padding-bottom: rem(50);
        .gray {
          padding: rem(70) 0;
          margin-bottom: rem(45);
        }
        .section-text {
          padding-top: rem(20);
          border-top: rem(1) solid $black;
          picture, img {
            display: inline-block;
            height: rem(24);
            width: auto;
          }
          picture {
            position: relative;
            margin-right: rem(3);
            top: rem(5);
          }
        }
        .btn-wrapper {
          .btn {
            margin-right: rem(50);
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      &#use-jre-point {
        .bg-title {
          margin-left: auto;
          margin-right: auto;
          width: rem(670);
        }
        .wrapper {
          padding: rem(75) 0 rem(60);
        }
      }
      &#get-jre-point {
        .section-text {
          .small {
            display: block;
          }
        }
        .bg-title {
          margin-left: auto;
          margin-right: auto;
          width: rem(890);
          .big {
            position: relative;
            top: rem(6);
          }
          .text {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @include fontsize(20);
            @include tracking(100);
          }
        }
        .wrapper {
          padding: rem(75) 0 rem(60);
        }
      }
      &#last {
        padding: rem(75) 0;
        background-color: #F3F3F3;
        .wrapper {
          flex-wrap: wrap;
          justify-content: space-between;
          .box {
            display: block;
            // height: rem(255);
            width: 47.5%;
            background-color: $white;
            &-title {
              @include fitcenter();
              height: rem(56);
              width: 100%;
              line-height: rem(56);
              background-color: $black;
              @include fontsize(20);
              @include tracking(40);
              font-weight: bold;
              color: $white;
            }
            &-content {
              padding: rem(15) rem(20);
              // height: calc( 100% - 5.6rem );
              width: 100%;
              box-sizing: border-box;
              p {
                @include fontsize(14);
                line-height: (24 / 14);
                span.bold {
                  @include fontsize(16);
                }
                a {
                  color: $black;
                }
              }
            }
          }
        }
      }
      &__inner {
        margin: 0 auto;
        max-width: rem(1000);
        min-width: rem(1000);
        width: 78.125%;
      }
      &-text {
        @include fontsize(14);
        line-height: (24 / 14);
        .small {
          @include fontsize(12);
          white-space: nowrap;
        }
      }
      &-title {
        margin-bottom: vw(50);
        text-align: center;
        &.blue {
          span.en {
            &::before {
              background-color: $blue;
            }
          }
          span.en {
            color: $blue;
          }
        }
        &.green {
          span.en {
            &::before {
              background-color: $green;
            }
          }
          span.en {
            color: $green;
          }
        }
        &.lightGreen {
          span.en {
            &::before {
              background-color: $lightGreen;
            }
          }
          span.en {
            color: $lightGreen;
          }
        }
        span {
          display: block;
        }
        .ja {
          @include fontsize(36);
          line-height: (68 / 48);
          font-weight: bold;
        }
        .en {
          @include fontsize(20);
          font-family: $Advent;
          &::before {
            display: block;
            margin: rem(20) auto;
            content: '';
            height: rem(2);
            width: rem(35);
          }
        }
      }
      &#faq {
        padding-bottom: rem(75);
        .gray {
          padding: rem(75) 0 rem(75);
        }
        .faq-wrapper {
          margin: 0 auto;
          width: 76%;
          display: flex;
          flex-wrap: wrap;
          .faq {
            width: 50%;
          }
        }
        .faq-title {
          margin-top: rem(50);
          margin-bottom: rem(50);
          position: relative;
          display: flex;
          align-items: center;
          text-align: center;
          &.green {
            .text {
              color: $green;
            }
            .bar {
              background-color: $green;
            }
          }
          &.navy {
            .text {
              color: $navy;
            }
            .bar {
              background-color: $navy;
            }
          }
          &.black {
            .text {
              color: $black;
            }
            .bar {
              background-color: $black;
            }
          }
          .text {
            padding: 0 rem(20);
            @include fontsize(28); 
            font-weight: bold;
          }
          .bar {
            height: rem(2);
            flex-grow: 1;
            background-color: black;
          }
        }
      }
    }
  }
}
